// Contact page
.contact-banner {
    position: relative;
    overflow: visible;
    background: rgba(0, 26, 92, 0.08);
    height: 706px;
    h1 {
        max-width: 330px;
        margin-top: 142px;
        margin-bottom: 29px;
    }
    h5 {
        margin-top: 22px;
        margin-bottom: 18px;
    }
    img.bottom-left {
        left: -60px;
        height: 149px;
        width: 218px;
        transform: scaleX(-1);
    }
    img.bottom-right {
        height: 475px;
        width: 567px;
        transform: scaleX(-1);
    }
    img.bottom-center {
        position: absolute;
        bottom: 0;
        left: calc(50% - 194px);
        height: 183px;
        width: 219px;
    }
    .contact-tab {
        border-radius: 8px 8px 0 0;
        background: #ffffff;
    }
    @include media-breakpoint-down(sm) {
        h1 {
            max-width: 330px;
            margin: 30px auto 20px;
        }
        h5 {
            margin: 20px auto 20px;
        }
        button {
            margin: auto;
        }
        img.bottom-left,
        img.bottom-center {
            display: none;
        }
        img.bottom-right {
            width: 283px;
            height: 237px;
        }
    }
    @include media-breakpoint-up(sm) {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
}
.contact-trust-us {
    // padding-top: 286px;
    // background-image: url("../assets/Shapes/rounded-angle/orange-rounded.svg");
    // background-position: top left;
    // background-repeat: no-repeat;
    // background-size: 313px 313px;
    // transform: scaleX(-1);
}

.contact-us-now {
    overflow: auto;
    background-color: #ffffff;
    border-radius: 0 0 8px 8px;
    padding: 0 30px 32px;
    h4 {
        max-width: 376px;
        margin-top: 32px;
        margin-bottom: 25px;
    }
    p {
        max-width: 376px;
        margin-bottom: 50px;
    }
    button {
        width: 229px;
    }
}
