// Contact page
.contact-banner {
    // position: relative;
    // overflow: visible;
    .contact-banner-background-container {
        position: relative;
        background: rgba(0, 26, 92, 0.08);
        height: 706px;
        .orange-rounded {
            position: absolute;
            bottom: 1px;
            transform: translateY(100%) rotate(90deg);
            width: 313px;
            height: 313px;
        }
    }
    & > div.container {
        margin-top: -706px !important;
        min-height: 910px;
        background-color: transparent;
    }
    h1 {
        max-width: 330px;
        margin-top: 142px;
        margin-bottom: 29px;
    }
    h5 {
        margin-top: 22px;
        margin-bottom: 18px;
    }
    img.bottom-left {
        left: -60px;
        height: 149px;
        width: 218px;
        transform: scaleX(-1);
    }
    img.bottom-right {
        height: 475px;
        width: 567px;
        transform: scaleX(-1);
    }
    img.bottom-center {
        position: absolute;
        bottom: 0;
        left: calc(50% - 194px);
        height: 183px;
        width: 219px;
    }
    .contact-tab {
        border-radius: 8px 8px 0 0;
        background: #ffffff;
    }
    @include media-breakpoint-down(sm) {
        & > div.container {
            min-height: 706px;
        }
        h1 {
            max-width: 330px;
            margin: 50px auto 20px;
        }
        h5 {
            margin: 20px auto 20px;
        }
        button {
            margin: auto;
        }
        img.bottom-left,
        img.bottom-center {
            display: none;
        }
        img.bottom-right {
            width: 283px;
            height: 237px;
        }
        img.orange-rounded {
            display: none;
        }
    }
    @include media-breakpoint-up(md) {
        img.bottom-left {
            width: 150px;
            height: auto;
        }
        img.bottom-right {
            width: 300px;
            height: auto;
        }
        img.bottom-center {
            width: 150px;
            height: auto;
        }
    }
    @include media-breakpoint-up(lg) {
        img.bottom-left {
            width: 180px;
            height: auto;
        }
        img.bottom-right {
            width: 450px;
            height: auto;
        }
        img.bottom-center {
            width: 180px;
            height: auto;
        }
    }
}
.contact-trust-us {
    // padding-top: 286px;
    // background-image: url("../assets/Shapes/rounded-angle/orange-rounded.svg");
    // background-position: top left;
    // background-repeat: no-repeat;
    // background-size: 313px 313px;
    // transform: scaleX(-1);
}

.tick-icon {
    width: 86px;
    height: 86px;
    background-image: linear-gradient(225deg, #ff7364, #ff5e4d 0%);
}

.contact-submit-success {
    margin-top: 77px;
    display: flex;
    flex-direction: column;
    max-width: 576px;
    padding: 42px 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 20px 40px 0 rgba(41, 41, 43, 0.05), 0 2px 4px 0 rgba(41, 41, 43, 0.05);
    background-color: #ffffff;
    img {
        margin: 0 auto 42px;
        width: 86px;
        height: 86px;
    }
    h4 {
        margin: 0 auto 52px;
        max-width: 500px;
        font-family: Gilroy-Bold;
        font-size: 26px;
        text-align: center;
        color: #001a5c;
    }
    button {
        margin: auto;
        max-width: 292px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
.contact-us-now {
    overflow: auto;
    background-color: #ffffff;
    border-radius: 0 0 8px 8px;
    padding: 0 30px 32px;
    h4 {
        max-width: 376px;
        margin-top: 32px;
        margin-bottom: 25px;
    }
    p {
        max-width: 376px;
        margin-bottom: 50px;
    }
    button {
        width: 229px;
    }
}
