.article-box {
    margin: 24px auto;
    .article-image-box {
        display: flex;
        justify-content: flex-end;
        max-width: 520px;
        padding-top: 0;
        padding-right: 0;
        padding-left: 44px;
        padding-bottom: 44px;
        background: url("../assets/Shapes/drawings/green-mini.svg");
        background-size: 110px 134px;
        background-position: bottom left;
        background-repeat: no-repeat;
        img {
            max-width: 476px;
            width: 100%;
            align-self: flex-end;
        }
    }
    .article-info-box {
        max-width: 476px;
        padding: 0 16px;
        .news-info {
            p {
                font-family: Gilroy-Medium;
                font-size: 12px;
                letter-spacing: normal;
                color: #6a6f85;
            }
            span {
                margin-right: 16px;
                padding: 5px 8px;
                font-family: Gilroy-Medium;
                font-size: 12px;
                text-align: center;
                color: #00d2b5;
                border-radius: 4px;
                background-color: rgba(0, 210, 180, 0.1);
            }
        }
        h3 {
            font-family: Gilroy-ExtraBold;
            font-size: 28px;
            line-height: 1;
            letter-spacing: normal;
            color: #001a5c;
        }
        p {
            font-family: RobotoMono-Medium;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: normal;
            color: #001a5c;
        }
        .pub-date {
            display: block;
            margin: 50px 0 16px;
            font-family: Gilroy-Light;
            font-size: 10px;
            color: #696f87;
        }
        .article-link {
            display: flex;
            align-items: center;
            font-family: Gilroy-Light;
            font-size: 16px;
            color: #6a6f85;
        }
    }
}

@include media-breakpoint-down(sm) {
    .article-image-box {
        justify-content: center;
        padding-left: 20px !important;
        padding-bottom: 20px !important;
        background-size: 55px 67px;
    }
    .article-info-box {
        margin: 40px auto 40px;
    }
}
@include media-breakpoint-up(md) {
    .article-image-box {
        margin: auto;
    }
    .article-info-box {
        margin: 40px auto 40px;
    }
}
@include media-breakpoint-up(lg) {
    .article-image-box {
        margin-left: auto;
        margin-right: 0;
    }
    .article-info-box {
        margin: 40px auto 40px;
    }
}

.author-container {
    display: flex;
    align-items: center;
    img {
        width: 54px;
        height: 54px;
        margin-right: 16px;
    }
    h6 {
        margin: 4px auto;
        font-family: Gilroy-Bold;
        font-size: 14px;
        letter-spacing: normal;
        color: #001860;
    }
    .pub-date {
        margin: 0 auto !important;
        display: block;
        margin: 50px 0 16px;
        font-family: Gilroy-Light;
        font-size: 10px;
        color: #696f87;
    }
}

//////////////////////////////////////////////////////////////////////////

.efilab-top-nav {
    display: flex;
    align-items: center;
    padding: 0px 32px 0px 28px;
    .navbar-brand {
        .efilab-logo {
            display: flex;
            align-items: center;
            padding-right: 14px;
            font-family: Gilroy-SemiBold;
            font-size: 22px;
            line-height: 1;
            color: #001a5c;
        }
    }
    .navbar-nav {
        .nav-item {
            margin-right: 26px;
            font-family: Gilroy-SemiBold;
            font-size: 16px;
            color: #001a5c;
            cursor: pointer;
            .top-nav-link {
                display: flex;
                align-items: center;
                transition: opacity ease-in-out 300ms;
                .link-image-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    width: 23px;
                    height: 23px;
                    background-color: #e9ecef;
                    border-radius: 50%;
                    img {
                        display: block;
                        margin: 2px auto;
                        width: 19px;
                        height: 19px;
                    }
                }
                .link-text-wrapper {
                    h6 {
                        margin: auto;
                        padding: 0;
                        font-family: Gilroy-Bold;
                        color: #001a5c;
                    }
                }
                @include media-breakpoint-down(sm) {
                    justify-content: flex-start;
                    .link-image-wrapper {
                        margin-right: 12px;
                    }
                }
            }
        }
    }
    button {
        padding: 6px 40px;
        margin-left: auto;
    }
    @include media-breakpoint-down(sm) {
        padding: 0px 12px 0px 12px;
        button {
            padding: 6px 20px;
            margin-left: auto;
        }
        .navbar-nav {
            display: none !important;
            flex-direction: column !important;
        }
    }
}

.efilab-sticky-nav {
    z-index: -100;
    width: 100%;
    padding: 12px 32px 12px 28px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 #f2f2f2;
    position: fixed;
    top: -60px;
    opacity: 0;
    transition: opacity ease-in-out 800ms, top ease-in-out 300ms, box-shadow ease-in-out 500ms;
    .efilab-logo {
        padding-right: 14px;
        font-family: Gilroy-SemiBold;
        font-size: 22px;
        color: #001a5c !important;
    }
    h4 {
        margin: 0 auto;
        padding: 0;
        font-family: Gilroy-SemiBold;
        font-size: 16px;
        color: #001a5c;
    }
}

.sticky-nav {
    z-index: 1010;
    position: fixed;
    top: 0;
    opacity: 1 !important;
}

.efilab-category-link {
    opacity: 0.6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity ease-in-out 300ms;
    .link-image-wrapper {
        display: flex;
        width: 35px;
        height: 35px;
        background-color: #e9ecef;
        border-radius: 50%;
        img {
            display: block;
            margin: 2px auto;
            width: 29px;
            height: 29px;
        }
    }
    .link-text-wrapper {
        width: 190px;
        h6 {
            font-family: Gilroy-Bold;
            color: #001a5c;
        }
        p {
            font-family: Gilroy-SemiBold;
            color: #6a6f85;
        }
    }
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
    @include media-breakpoint-down(sm) {
        justify-content: flex-start;
        .link-image-wrapper {
            margin-right: 12px;
        }
    }
}

.efisens-talk-block {
    display: flex;
    min-height: 394px;
    .efisens-talk-form-container {
        position: relative;
        padding: 24px;
        .left-top {
            position: absolute;
            left: 0;
            top: 0;
            width: 54px;
            height: 54px;
        }
        .right-bottom {
            position: absolute;
            right: -14px;
            bottom: -14px;
            width: 54px;
            height: 54px;
        }
        .efisens-talk-form {
            position: relative;
            z-index: 99 !important;
            padding: 24px 99px 40px;
            border-radius: 0.5rem;
            background-color: white;
            box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1) !important;
            h2 {
                font-family: Gilroy-Bold;
                margin-bottom: 7px;
            }
            p {
                margin-top: 7px;
            }
        }
        @media (max-width: 768px) {
            margin: 70px auto !important;
            padding: 12px;
        }
    }
    @include media-breakpoint-down(sm) {
        .efisens-talk-form-container {
            margin: 70px auto !important;
            padding: 12px;
            .left-top {
                width: 29px;
                height: 29px;
            }
            .right-bottom {
                display: none;
            }
            .efisens-talk-form {
                padding: 33px 28px 20px;
                h2 {
                    margin-top: 0;
                }
                p {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.article-summary-box {
    .article-image-card {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        max-width: 520px;

        padding-top: 0;
        padding-right: 0;
        background: url("../assets/Shapes/drawings/green-mini.svg");
        background-position: bottom left;
        background-repeat: no-repeat;
        padding-left: 44px;
        padding-bottom: 44px;
        background-size: 110px 134px;

        img {
            max-width: 476px;
            width: 100%;
            align-self: flex-end;
            border-radius: 8px;
        }
    }
    .article-summary-card {
        max-width: 476px;
        padding: 0 16px;
        .article-info {
            p {
                font-family: Gilroy-Medium;
                font-size: 12px;
                letter-spacing: normal;
                color: #6a6f85;
            }
            span {
                padding: 4px 8px;
                font-family: Gilroy-Medium;
                font-size: 12px;
                text-align: center;
                color: #00d2b5;
                border-radius: 4px;
                background-color: rgba(0, 210, 180, 0.1);
            }
        }
        h2 {
            font-family: Gilroy-ExtraBold;
            font-size: 42px;
            line-height: 0.95;
            letter-spacing: normal;
            color: #001a5c;
        }
    }
    @include media-breakpoint-down(sm) {
        background: none !important;
        // padding-left: 22px;
        // padding-bottom: 22px;
        // background-size: 110px 134px;
        .article-summary-card {
            margin: 30px auto !important;
            h2 {
                word-break: break-word;
            }
        }
    }
    @include media-breakpoint-up(sm) {
        padding-left: 44px;
        padding-bottom: 44px;
        background-size: 110px 134px;
    }
}

///////////////////////////////////////////////////////////////

.efilab-banner {
    display: flex;
    min-height: 348px;
    background-color: #001a5c;
    @include media-breakpoint-down(sm) {
        padding-bottom: 100px;
        h2 {
            margin: 30px auto 0;
            font-size: 24px;
        }
        .bottom-left {
            width: 120px;
            height: 100px;
        }
        .bottom-right {
            width: 120px;
            height: 100px;
        }
    }
    @include media-breakpoint-up(md) {
        padding-bottom: 150px;
        .bottom-left {
            width: 160px;
            height: 140px;
        }
        .bottom-right {
            width: 160px;
            height: 140px;
        }
    }
    @include media-breakpoint-up(lg) {
        h2 {
            margin: 109px auto 0;
            max-width: 776px;
            font-family: Gilroy-ExtraBold;
        }
        .bottom-left {
            width: 288px;
            height: 241px;
            // transform: scaleX(-1);
        }
        .bottom-right {
            width: 288px;
            height: 241px;
            transform: scaleY(-1) rotate(180deg);
        }
    }
}

.efilab-innews {
    h1 {
        margin: 82px auto 42px;
    }
    @include media-breakpoint-down(sm) {
        h1 {
            margin: 30px auto 30px;
        }
    }
    @include media-breakpoint-up(md) {
        h1 {
            margin: 30px auto 30px;
        }
    }
    @include media-breakpoint-up(lg) {
        h1 {
            margin: 30px auto 30px;
        }
    }
}

.efilab-search-block {
    display: flex;
    .block-title-md {
        margin: 86px auto 24px;
    }
    h5 {
        font-family: Gilroy-Medium;
        font-size: 16px;
        text-align: center;
        color: #6a6f85;
    }
    .bottom-left {
        bottom: 98px;
    }
    .article-category-container {
        max-width: 770px;
        margin: auto;
    }
    .article-container {
        margin-top: 5px;
        padding: 20px 24px 0 19px;
        background-image: url("../assets/Shapes/rounded-angle/green-rounded.svg"),
            url("../assets/Shapes/others/orange-square.svg");
        background-repeat: no-repeat;
        background-size: 38px 38px, 48px 48px;
        background-position: top left, bottom right;
    }
    .btn-gray {
        display: block;
        margin: 24px auto 167px;
    }

    @include media-breakpoint-down(sm) {
        h1 {
            margin: 30px auto 20px;
        }
        input {
            margin-bottom: 20px;
        }
    }
}

.efilab-follow {
    min-height: 203px;
    display: flex;
    flex-direction: column;
    h4 {
        margin: 30px auto 29px;
        font-size: 26px;
        text-align: center;
    }
    .social-link-wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 215px;
        margin: auto;
        svg {
            // width: 50px;
            // height: 50px;
            g,
            circle {
                fill: #ff5e4d !important;
            }
            path {
                fill: #ffffff !important;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        h4 {
            font-size: 24px;
        }
        .social-link-wrapper {
            svg {
                width: 40px;
                height: 40px;
            }
        }
    }
    @include media-breakpoint-up(sm) {
        .social-link-wrapper {
            svg {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.article-summary-box {
    margin: 67px auto 73px;
}

.article-detail-box {
    .article-container {
        display: flex;
        flex-direction: column;
        max-width: 776px;
        margin: 0 auto 42px;
        .article-block {
            position: relative;
            .social-media-link {
                position: absolute;
                left: -48px;
                display: flex;
                flex-direction: column;
                div.send-icon-box {
                    margin-top: 6px;
                    margin-bottom: 8px;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: #caccd8 !important;
                    svg {
                        width: 18px;
                        height: 18px;
                        margin-top: 3px;
                        margin-left: 4px;
                    }
                }
                svg.linkedin-icon {
                    margin-bottom: 8px;
                    // g {
                    //     fill: #caccd8 !important;
                    // }
                }
                div.facebook-icon-box {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: #caccd8 !important;
                    svg {
                        display: block;
                        margin: 3px auto;
                        path {
                            fill: #ffffff !important;
                        }
                    }
                }
            }
            img {
                width: 100%;
                margin: 40px auto 32px;
                border-radius: 8px;
            }
            h4 {
                margin: 0 auto 15px;
                font-family: Gilroy-SemiBold;
                font-size: 28px;
                color: #001860;
            }
            p {
                margin: 0 auto 30px;
                // font-family: RobotoMono-Light;
                // font-size: 18px;
                font-family: RobotoMono-Regular;
                font-size: 16px;
                line-height: 1.17;
                color: #001a5c;
            }
        }
        .green-banner {
            min-height: 268px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50px 54px;
            border-radius: 8px;
            background-color: $color-green;
            h1 {
                margin: 0 auto;
                max-width: 399px;
                line-height: 1;
                font-family: Gilroy-Bold;

                color: #ffffff;
            }
            button {
                display: block;
                color: $color-green;
                background-color: #ffffff;
                padding: 8px 21px;
            }
        }
        .keywords-block {
            display: flex;
            margin: 39px auto 30px;
            justify-content: flex-start;
            width: 100%;
            .keyword {
                margin-right: 19px;
                width: 76px;
                padding: 4px;
                border-radius: 4px;
                background: rgba(105, 111, 135, 0.1);
                color: #696f87;
                font-family: Gilroy-Medium;
                font-size: 12px;
                text-align: center;
                color: #696f87;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .article-container {
            padding-left: 40px;
            .social-media-link {
                left: -36px;
            }
            .green-banner {
                display: flex;
                flex-direction: column;
                padding: 30px 24px !important;
                h1 {
                    text-align: center;
                    font-size: 28px;
                    line-height: 1.2;
                }
                button {
                    margin: 20px auto;
                }
            }
            .keywords-block {
                .keyword {
                    margin-bottom: 20px;
                }
            }
        }
    }
    @include media-breakpoint-up(md) {
        .article-container {
            padding-left: 36px;
            .green-banner {
                display: flex;
                flex-direction: row;
                h1 {
                    font-size: 48px;
                }
                button {
                    margin-right: 24px;
                }
            }
        }
    }
    @include media-breakpoint-up(lg) {
        .article-container {
            .green-banner {
                display: flex;
                flex-direction: row;
                h1 {
                    font-size: 54px;
                }
            }
        }
    }
}

.efilab-category-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 147px;
    // background-image: linear-gradient(264deg, #00efce, #00d2b5);
    .efilab-lg-title {
        max-width: 80%;
        display: block;
        margin: auto;
        // width: 290px;
        // height: 59px;
        // object-fit: contain;
    }
    .efilab-sm-title {
        display: none;
        max-width: 80%;
        margin: auto;
        // width: 290px;
        // height: 59px;
        object-fit: contain;
    }
    @include media-breakpoint-down(sm) {
        .efilab-lg-title {
            display: none;
        }
        .efilab-sm-title {
            display: block;
        }
    }
}

.articles-block {
    margin: 36px auto;
}
