// Expertise

.expertise-sticky-top-navbar {
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
}

.expertise-sticky-class {
    position: fixed;
    top: 0 !important;
    opacity: 1 !important;
}

.expertise-sticky-nav {
    z-index: 1010;
    position: fixed;
    top: -100px;
    display: flex;
    width: 100%;
    padding: 15px 32px;
    opacity: 0;
    transition: opacity ease-in-out 1000ms, top ease-in-out 500ms;

    .expertise-nav-link {
        display: flex;
        align-items: flex-start;
        margin-left: 24px;
        img {
            margin-right: 12px;
            width: 32px;
            height: 32px;
        }
        span {
            font-family: Gilroy-Bold;
            font-size: 16px;
            color: #ffffff;
        }
    }
    .expertise-nav-button {
        margin-left: auto;
        padding: 7px 24px;
        border-radius: 6px;
        background-color: #ffffff;
        cursor: pointer;

        font-family: Gilroy-Bold;
        font-size: 16px;
        text-align: center;
        color: #00d2b5;
    }
    .mobile-expertise-nav-button {
        display: none;
        margin-left: auto;
        padding: 7px 24px;
        border-radius: 6px;
        background-color: #ffffff;
        cursor: pointer;

        font-family: Gilroy-Bold;
        font-size: 16px;
        text-align: center;
        color: #00d2b5;
    }

    @include media-breakpoint-down(sm) {
        .expertise-nav-button {
            display: none;
        }
        .mobile-expertise-nav-button {
            display: block;
        }
        .expertise-nav-link {
            display: none;
        }
        .white-logo {
            border-right: none;
        }
    }
}

.expertise-feature-card {
    display: flex;
    flex-direction: column;
    // max-width: 376px;
    margin: 0 auto;
    min-height: 397px;
    width: 100%;
    padding: 19px 14px 20px;
    background-color: #ffffff;
    border-radius: 13px;
    img {
        width: 90px;
        height: 90px;
        margin: 0 auto;
    }
    h4 {
        margin: 10px auto 16px;
        font-family: Gilroy-Bold;
        font-size: 24px;
        line-height: 1;
    }
    h5 {
        margin: 0 auto 8px !important;
        font-family: Gilroy-Bold;
        font-size: 16px;
        line-height: 1;
    }
    li {
        list-style-position: inside;
        font-family: "RobotoMono-Light";
        font-size: 12px;
        line-height: 1.57;
        text-align: center;
        color: #001a5c;
    }
}
///////////////////////////////////////////////////////////////////////////////////////////////
.expertise-feature {
    .block-title {
        margin-top: 78px;
        margin-bottom: 77px;
    }
    .features-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .cloud-card-box,
    .workplace-card-box {
        z-index: 110;
        max-width: 380px;
        margin: 0 auto;
        display: -webkit-box;
        display: flex;
        position: relative;
        box-sizing: border-box;
        background: white;
        background-clip: padding-box;
        border-radius: 16px;
        transition: margin ease 300ms, box-shadow ease 300ms;
        &:hover {
            cursor: pointer;
            margin-top: -18px;
            background-color: #ffffff;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
        }
        &:hover:before {
            z-index: -1;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: -3px;

            border-radius: inherit;
            background: -webkit-gradient(to top right, #00d5b4, #ff5c4d, #001b5d);
            background: linear-gradient(to top right, #00d5b4, #ff5c4d, #001b5d);
        }
        .expertise-feature-card {
            h4 {
                margin: 10px auto 32px !important;
            }
            h5 {
                margin: 0 auto 40px !important;
            }
        }
    }
    .security-rgpd-background {
        background-image: url("../assets/Images/expertise/security/rgpd-ready.svg");
        background-position: 100% 78px;
        background-repeat: no-repeat;
        background-size: 118px 108px;
    }
    @media (max-width: 768px) {
        .block-title {
            margin-top: 69px;
            margin-bottom: 36px;
        }
        .cloud-card-box,
        .workplace-card-box {
            &:hover {
                margin-top: 0;
            }
        }
        .security-rgpd-background {
        }
    }
}

.expertise-approach {
    .block-title {
        margin: 70px auto 30px;
    }
    .block-subtitle {
        margin: 0 auto 30px;
        max-width: 576px;
    }
    .approach-container {
        position: relative;
        max-width: 1025px;
        width: 100%;
        margin: 0 auto;
    }
    @include media-breakpoint-down(sm) {
        .block-title {
            margin-top: 69px;
            margin-bottom: 36px;
        }
        .block-subtitle {
            margin-top: 69px;
            margin-bottom: 36px;
        }
        .approach-container {
            padding: 15px 15px 0 15px;
            .lg-layout {
                display: none;
            }
            .sm-layout {
                display: flex;
            }
            // .row:nth-child(1) {
            //     display: none;
            // }
            // .row:nth-child(2){
            //     display: flex;
            // }
        }
    }
    @include media-breakpoint-up(md) {
        .approach-container {
            padding: 25px 26px 0 23px;
            .lg-layout {
                display: flex;
            }
            .sm-layout {
                display: none;
            }
            // .row:nth-child(1) {
            //     display: flex;
            // }
            // .row:nth-child(2){
            //     display: none;
            // }
        }
    }
}

.expertise-tech-block {
    h1 {
        margin: 135px auto 102px;
    }
    .row {
        justify-content: start;
        [class*="col-"] {
            padding: 0 20px;
            img {
                width: 100%;
            }
        }
        @include media-breakpoint-down(md) {
            justify-content: center;
        }
    }
}

.expertise-security-msp {
    .msp-container {
        display: flex;
        align-items: center;
        margin: auto;
        max-width: 620px;
        width: 100%;
        img {
            width: 100%;
            max-width: 242px;
            max-height: 242px;
        }
        p {
            margin: 0 auto 14px;
        }
        button {
            display: block;
            margin: 0 auto;
            padding: 4px 12px;
        }
    }
    @media (max-width: 768px) {
        .msp-container {
            flex-direction: column;
        }
    }
}
.expertise-resources-block {
    display: flex;
    flex-direction: column;
    .block-title {
        margin: 73px auto 62px;
    }
    .articles-container {
        position: relative;
        margin-top: 0;
        padding: 22px 34px 15px 20px;
        .bottom-left {
            width: 111px;
            height: 135px;
        }
        .top-right {
            width: 111px;
            height: 135px;
        }
    }
    button {
        display: block;
        margin: 85px auto 75px;
        padding-left: 46px;
        padding-right: 46px;
    }
    @include media-breakpoint-down(sm) {
        .block-title {
            margin: 50px auto 36px;
        }
        .articles-container {
            padding-top: 22px;
            padding-left: 22px;
            padding-right: 22px;
            padding-bottom: 0;
            .bottom-left {
                top: 0 !important;
            }
            .top-right {
                top: unset;
                bottom: 0 !important;
            }
        }
    }
}

.expertise-ourexpertise-block {
    .block-title {
        margin: 70px auto 30px;
        @media (max-width: 768px) {
            margin: 0 auto 16px;
        }
    }
    .block-subtitle {
        margin: 0 auto 70px;
        max-width: 576px;
        @media (max-width: 768px) {
            margin: 0 auto 16px;
        }
    }
    .expertise-containter {
        max-width: max-content;
        margin: auto;

        img.top-left {
            z-index: -1;
            height: 135px;
            width: 111px;
        }
        img.bottom-right {
            z-index: -1;
            height: 135px;
            width: 111px;
        }
        img.top-right {
            z-index: -1;
            height: 60px;
            width: 60px;
        }
        @media (max-width: 768px) {
            .top-right,
            .top-left,
            .bottom-right {
                display: none;
            }
        }
    }
}
