// Home Page

.home-banner {
    margin: 0;
    background-image: url("../assets/Shapes/others/rounded-circle@3x.png"),
        url("../assets/Shapes/others/bottom-right-triangle@3x.png"),
        url("../assets/Shapes/others/bottom-left-triangle@3x.png");
    background-repeat: no-repeat;
    background-position: left top, bottom right, bottom left;
    background-size: 120px 120px, auto calc(100vh - 60px), 120px 120px;
    .banner-title {
        margin-bottom: 19px;
        white-space: pre-line;
    }
    .banner-text {
        margin: 12px 0 47px;
    }
    @include media-breakpoint-down(sm) {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        background-size: 37px 37px, 136px 136px, 56px 56px;
        .banner-image {
            display: block;
            max-width: 70%;
            margin: 21px auto 30px;
        }
    }
    @include media-breakpoint-up(sm) {
        min-height: 706px;
        height: calc(100vh - 60px);
        margin-left: auto;
        margin-right: auto;
        background-size: 50px 50px, 200px 200px, 84px 84px;
        .banner-image {
            display: block;
            max-width: 587px;
            width: 100%;
            margin-left: auto;
        }
    }
    @include media-breakpoint-up(md) {
        background-size: 120px 120px, calc(50vh) calc(50vh), 120px 120px;
    }
    @include media-breakpoint-up(lg) {
        height: calc(100vh - 60px);
        background-size: 120px 120px, calc(100vh - 60px) calc(100vh - 60px), 120px 120px;
    }
}

.home-news-block {
    margin: 74px auto;
    .slider-container {
        position: relative;
        display: flex;
        max-width: 1176px;
        min-height: 194px;
        margin: 0 auto;
        padding-left: 26px;
        padding-right: 26px;
        background: url("../assets/Shapes/others/green-bottom-left-triangle.svg"),
            url("../assets/Shapes/others/orange-square.svg");
        background-repeat: no-repeat;
        background-position: bottom left, top right;
        background-size: 54px 54px, 54px 54px;
        & > div {
            margin: 27px 0 39px;
            padding: 28px 105px;
            min-height: 194px;
            border-radius: 8px;
            background-color: #ffffff;
            box-shadow: 0 20px 40px 0 rgba(41, 41, 43, 0.05), 0 2px 4px 0 rgba(41, 41, 43, 0.05);
            width: 100%;
            .slick-list{
                margin: 0 50px;
            }
        }
        h2 {
            margin: 31px auto 16px;
        }
        h4 {
            margin: 0 auto;
            text-align: center;
            font-size: 18px;
            line-height: 1.17;
        }
        .prev-arrow {
            position: absolute;
            top: 0;
            left: 0;
            fill: $color-orange;
            width: 14px;
            height: 26px;
        }
        .next-arrow {
            position: absolute;
            top: 0;
            right: 0;
            fill: $color-orange;
            width: 14px;
            height: 26px;
        }
        button {
            margin-top: 32px !important;
            display: block;
            margin: auto;
            padding: 5px 16px;
            color: #ffffff;
            background-color: $color-green;
        }
    }

    .article-image-card {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        max-width: 520px;

        padding-top: 0;
        padding-right: 0;
        background: url("../assets/Shapes/drawings/green-mini.svg");
        background-position: bottom left;
        background-repeat: no-repeat;
        padding-left: 44px;
        padding-bottom: 44px;
        background-size: 110px 134px;

        img {
            max-width: 476px;
            width: 100%;
            align-self: flex-end;
            border-radius: 8px;
        }
    }
    .article-summary-card {
        max-width: 476px;
        padding: 0 16px;
        h3 {
            margin: 0 auto 24px;
        }
    }
    @include media-breakpoint-down(sm) {
        h1 {
            margin: 40px auto 42px;
        }
        .article-summary-card {
            h3 {
                margin: 30px auto 24px;
            }
        }
    }
}

.home-expertise-block {
    position: relative;
    .block-title {
        margin: 79px auto 21px;
    }
    .block-subtitle {
        max-width: 574px;
        margin: 0 auto 76px;
    }
    .container {
        padding-bottom: 104px;
        .features-block {
            position: relative;
            padding: 23px 21px 24px;
            .top-left {
                z-index: -1;
                width: 111px;
                height: 135px;
            }
            .bottom-right {
                z-index: -1;
                width: 111px;
                height: 135px;
            }
            .top-right {
                z-index: -1;
                width: 42px;
                height: 42px;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .block-title {
            margin: 50px auto 21px;
        }
        .block-subtitle {
            margin: 0 auto 20px;
        }
        .top-left,
        .bottom-right,
        .top-right {
            display: none;
        }
    }
}

.home-trust-block {
    h3 {
        font-size: 28px;
        margin: 76px auto 32px;
    }

    @include media-breakpoint-down(sm) {
        h3 {
            font-size: 28px;
            margin: 50px auto 24px;
        }
    }
}

.efisens-talk {
    margin: 74px auto 100px;
}

.home-efisens-talk-block {
    display: flex;
    min-height: 394px;
    .efisens-talk-form-container {
        position: relative;
        padding: 24px;
        .left-top {
            position: absolute;
            left: 0;
            top: 0;
            width: 54px;
            height: 54px;
        }
        .right-bottom {
            position: absolute;
            right: -14px;
            bottom: -14px;
            width: 54px;
            height: 54px;
        }
        .efisens-talk-form {
            position: relative;
            z-index: 99 !important;
            padding: 24px 99px 40px;
            border-radius: 0.5rem;
            background-color: white;
            box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1) !important;
            h2 {
                font-family: Gilroy-Bold;
                margin-bottom: 7px;
            }
            p {
                margin-top: 7px;
            }
        }
        @media (max-width: 768px) {
            margin: 70px auto !important;
            padding: 12px;
        }
    }
    @include media-breakpoint-down(sm) {
        .efisens-talk-form-container {
            margin: 70px auto !important;
            padding: 12px;
            .left-top {
                width: 29px;
                height: 29px;
            }
            .right-bottom {
                display: none;
            }
            .efisens-talk-form {
                padding: 33px 28px 20px;
                h2 {
                    margin-top: 0;
                }
                p {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.home-articles-block {
    display: flex;
    flex-direction: column;
    position: relative;
    .articles-container {
        position: relative;
        margin-top: 30px;
        padding: 24px 16px;
        background-image: url("../assets/Shapes/drawings/green-mini.svg"),
            url("../assets/Shapes/drawings/orange-mini.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: calc(100% - 0px) calc(100% - 27px), -1px 13px;

        background-size: 99px 123px, 99px 123px;
        @media (min-width: 768px) {
            margin-top: 0 !important;
            background-position: calc(100% - 0px) -7px, 0 calc(100% - 26px);
        }
    }
    h1 {
        margin: 108px auto 37px;
        @media (max-width: 768px) {
            margin: 60px auto 16px;
            font-size: 36px;
        }
        @media (min-width: 768px) {
            font-size: 48px;
        }
    }
    p {
        max-width: 824px;
        margin-bottom: 30px;
        @media (max-width: 768px) {
            font-size: 17px;
        }
    }
}

.home-efisens-shop-block {
    display: flex;
    margin-bottom: 100px;
    .container {
        background: url("../assets/Images/home/group-2@3x.png");
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 1124px !important;
        margin: auto;
        @media (max-width: 768px) {
            background: none;
        }
        .main-img {
            max-width: 719px;
            margin-bottom: 98px;
            @media (max-width: 768px) {
                display: none;
            }
        }
        .shop-background {
            position: relative;
            .fg-img {
                position: absolute;
                max-width: 719px;
                width: 90%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            @media (min-width: 769px) {
                display: none;
            }
        }
    }
    h1 {
        margin-top: 83px;
        margin-bottom: 47px;
        @media (max-width: 768px) {
            font-size: 36px;
            margin-bottom: 16px;
        }
        @media (min-width: 768px) {
            font-size: 48px;
        }
    }
    p {
        margin-bottom: 52px;
    }
    .btn {
        margin-bottom: 75px;
    }
}

.home-talents-block {
    display: flex;
    position: relative;
    margin-top: 129px !important;
    margin-bottom: 129px !important;
}
