// Home Page

.home-banner {
    margin: 0;
    background-image: url("../assets/Shapes/others/rounded-circle@3x.png"),
        url("../assets/Shapes/others/bottom-right-triangle@3x.png"),
        url("../assets/Shapes/others/bottom-left-triangle@3x.png");
    background-repeat: no-repeat;
    background-position: left top, bottom right, bottom left;
    background-size: 120px 120px, auto calc(100vh - 60px), 120px 120px;
    .banner-title-lg {
        margin-bottom: 19px;
        white-space: pre-line;
    }
    .banner-text {
        margin: 12px 0 47px;
    }
    button {
        display: block;
        margin-left: 0;
        padding: 6px 27px;
    }
    @include media-breakpoint-down(sm) {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        background-size: 37px 37px, 136px 136px, 56px 56px;
        .banner-title-lg {
            margin-bottom: 16px;
        }
        .banner-text {
            margin: 16px 0 16px;
        }
        .banner-image {
            display: block;
            width: 70%;
            min-width: 263px;
            margin: 0 auto 30px;
        }
        button {
            display: block;
            margin: 16px auto 27px;
        }
    }
    @include media-breakpoint-up(md) {
        min-height: 706px;
        height: calc(100vh - 60px);
        margin-left: auto;
        margin-right: auto;
        background-size: 100px 100px, calc (50vh) calc (50vh), 100px 100px;
        .banner-image {
            display: block;
            max-width: 587px;
            width: 100%;
            margin-left: auto;
        }
    }
    @include media-breakpoint-up(lg) {
        height: calc(100vh - 60px);
        background-size: 120px 120px, calc(100vh - 60px) calc(100vh - 60px), 120px 120px;
    }
}

.home-news-block {
    margin: 74px auto;
    .slider-container {
        position: relative;
        display: flex;
        max-width: 1230px;
        min-height: 244px;
        margin: 0 auto;
        padding: 26px 26px 39px 27px;
        background: url("../assets/Shapes/others/green-bottom-left-triangle.svg"),
            url("../assets/Shapes/others/orange-square.svg");
        background-repeat: no-repeat;
        background-position: bottom left, top right;
        background-size: 54px 54px, 54px 54px;
        & > div {
            padding: 31px 96px 28px;
            border-radius: 8px;
            background-color: #ffffff;
            box-shadow: 0 20px 40px 0 rgba(41, 41, 43, 0.05), 0 2px 4px 0 rgba(41, 41, 43, 0.05);
            width: 100%;
            .slick-list {
                margin: 0 50px;
            }
        }
        h2 {
            margin: 0 auto 16px;
        }
        h4 {
            margin: 0 auto;
            text-align: center;
            font-size: 18px;
            line-height: 1.17;
        }
        .prev-arrow {
            position: absolute;
            top: 0;
            left: 0;
            fill: $color-orange;
            width: 14px;
            height: 26px;
        }
        .next-arrow {
            position: absolute;
            top: 0;
            right: 0;
            fill: $color-orange;
            width: 14px;
            height: 26px;
        }
        button {
            margin-top: 32px !important;
            display: block;
            margin: auto;
            padding: 5px 16px;
            color: #ffffff;
            background-color: $color-green;
        }
    }
    .article-image-card {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        max-width: 520px;

        padding-top: 0;
        padding-right: 0;
        background: url("../assets/Shapes/drawings/green-mini.svg");
        background-position: bottom left;
        background-repeat: no-repeat;
        padding-left: 44px;
        padding-bottom: 44px;
        background-size: 110px 134px;

        img {
            max-width: 476px;
            width: 100%;
            align-self: flex-end;
            border-radius: 8px;
        }
    }
    .article-summary-card {
        max-width: 476px;
        padding: 0 16px;
        h3 {
            margin: 0 auto 24px;
        }
    }
    @include media-breakpoint-down(sm) {
        h2 {
            margin: 0 auto 16px !important;
        }
        .slider-container {
            background: none;
            padding: 0;
            & > div {
                padding: 20px;
            }
        }
        .article-summary-card {
            h3 {
                margin: 30px auto 24px;
            }
        }
    }
}

.home-expertise-block {
    position: relative;
    padding: 79px 0 138px;
    .block-title {
        margin: 0 auto 21px;
    }
    .block-subtitle {
        margin: 0 auto 120px;
    }
    .container {
        .custom-container {
            position: relative;
            .top-left {
                z-index: -1;
                top: -23px;
                left: -21px;
                width: 111px;
                height: 135px;
            }
            .top-right {
                z-index: -1;
                top: -21px;
                right: -21px;
                width: 42px;
                height: 42px;
            }
            .bottom-right {
                z-index: -1;
                right: -34px;
                bottom: -24px;
                width: 111px;
                height: 135px;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        padding: 52px 0 80px;
        .block-title {
            margin: 0 auto 16px;
        }
        .block-subtitle {
            margin: 0 auto 40px;
        }
        .top-left,
        .bottom-right,
        .top-right {
            display: none;
        }
    }
}

.home-trust-block {
    padding: 86px 0 49px;
    h3 {
        font-size: 28px;
        margin: 0 auto 31px;
    }
    @include media-breakpoint-down(sm) {
        padding: 48px 0 50px;
        h3 {
            font-size: 24px;
            margin: 0 auto 29px;
        }
    }
}

.efisens-talk {
    margin: 74px auto 100px;
}

.home-efisens-talk-block {
    display: flex;
    min-height: 394px;
    padding: 100px 0;
    .container {
        .custom-container {
            position: relative;
            .bg-white {
                position: relative;
                z-index: 100;
                padding: 24px 100px 38px;
                border-radius: 8px;
                box-shadow: 0 20px 40px 0 rgba(41, 41, 43, 0.05), 0 2px 4px 0 rgba(41, 41, 43, 0.05);
                h2 {
                    font-family: Gilroy-ExtraBold;
                    margin: 0 auto 7px;
                }
                .underline {
                    margin-left: -32px;
                }
                p {
                    margin-top: 7px;
                }
            }
            .left-top {
                position: absolute;
                left: -26px;
                top: -26px;
                width: 53px;
                height: 53px;
            }
            .right-bottom {
                position: absolute;
                right: -34px;
                bottom: -34px;
                width: 54px;
                height: 54px;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        padding-left: 6px;
        padding-right: 6px;
        .container {
            .custom-container {
                .bg-white {
                    padding: 33px 30px 20px;
                    h2 {
                        font-family: Gilroy-ExtraBold;
                        margin: 0 auto 9px;
                    }
                    .underline {
                        margin-left: -15px;
                    }
                    p {
                        margin-top: 16px;
                    }
                }
                .left-top {
                    left: -14px;
                    top: -14px;
                    width: 29px;
                    height: 29px;
                }
                .right-bottom {
                    display: none;
                }
            }
        }
    }
}

.home-articles-block {
    position: relative;
    padding: 98px 0 81px;
    .block-title {
        margin: 0 auto 98px;
    }
    .container {
        .custom-container {
            position: relative;
            .bottom-left {
                bottom: 0;
                left: -20px;
                width: 111px;
                height: 135px;
            }
            .top-right {
                top: -22px;
                right: -34px;
                width: 111px;
                height: 135px;
            }
            .articles-container {
                position: relative;
            }
        }
        button {
            display: block;
            margin: 76px auto 0;
            width: 100%;
            max-width: 240px;
        }
    }

    @include media-breakpoint-down(sm) {
        .container {
            padding-left: 51px;
            padding-right: 51px;
            .custom-container {
                .bottom-left {
                    top: -21px;
                    left: -21px;
                    width: 111px;
                    height: 135px;
                }
                .top-right {
                    top: unset;
                    bottom: 0;
                    right: -21px;
                    width: 111px;
                    height: 135px;
                }
                .articles-container {
                    position: relative;
                }
            }
        }
    }
}

.home-efisens-shop-block {
    display: flex;
    margin-bottom: 100px;

    .container {
        .custom-container {
            max-width: 1124px;
            height: 843px;
            position: relative;
            padding-top: 79px;
            h1 {
                margin: 0 auto 26px;
            }
            p {
                text-align: center;
                margin: 0 auto 52px;
            }
            button {
                position: absolute;
                display: block;
                left: 50%;
                transform: translateX(-50%);
                max-width: 240px;
                width: 100%;
            }
            .shop-background {
                position: absolute;
                bottom: 0;
                width: 100%;
                padding-top: 75%;
                max-height: 843px;
                background: url("../assets/Images/home/group-2@3x.png");
                background-size: cover;
                background-repeat: no-repeat;
                margin: auto;
                img {
                    position: absolute;
                    max-width: 719px;
                    width: 88%;
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .custom-container {
            padding-top: 49px !important;
            height: 456px !important;
            h1 {
                margin-bottom: 16px !important;
            }
            button {
                bottom: 30px;
            }
            .shop-background {
                img {
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    @include media-breakpoint-up(md) {
        .custom-container {
            button {
                bottom: 30px;
            }
            .shop-background {
                img {
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    @include media-breakpoint-up(lg) {
        .custom-container {
            button {
                bottom: 100px;
            }
            .shop-background {
                img {
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    @include media-breakpoint-up(xl) {
        .custom-container {
            button {
                bottom: 75px;
            }
            .shop-background {
                img {
                    bottom: 207px !important;
                    top: unset;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}

.home-talents-block {
    display: flex;
    position: relative;
    margin-top: 129px !important;
    margin-bottom: 129px !important;
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .top-left {
        width: 64px;
        height: 64px;
    }
    .talents-card {
        position: relative;
        z-index: 100;
        min-height: 576px;
        max-width: 575px;
        padding: 87px 99px 66px;
        border-radius: 8px;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: contain;
        box-shadow: 0 2px 4px 0 rgba(41, 41, 43, 0.05), 0 20px 40px 0 rgba(41, 41, 43, 0.05);
        p {
            font-family: Gilroy-Regular;
            font-size: 16px;
            margin: 36px auto 109px;
        }
        button {
            display: block;
            margin: 0 auto;
            width: 280px;
            width: 100%;
        }
    }
    @include media-breakpoint-down(sm) {
        .top-left {
            right: 0;
            width: 28px;
            height: 28px;
        }
        .talents-card {
            padding: 31px 21px 23px;
            min-height: 426px;
            h4 {
                margin: 0 auto 41px;
                font-size: 18px;
            }
            h2 {
                margin: 0 auto 37px;
                font-size: 25px;
            }
            p {
                margin: 0 auto 74px;
            }
        }
        .talents-image-container {
            // [class*="col-"] {
            //     padding: 0 !important;
            // }
        }
    }
}
