@import "./_variable.scss";

.section {
    margin: 0;
}

@media screen and (max-width: 1440px) {
    .section {
        padding: 0 20px;
    }
}

.footer {
    margin-top: 50px;
    .social-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .newsletter-container {
        margin-top: 100px;
    }
    .shapes-group {
        max-width: 100px;
        height: max-content;
        align-self: center;
    }
    @media screen and (max-width: 767px) {
        text-align: center !important;
    }
}
