///////////////////////////////////////////////////////////////////////////////////////
.expertise-banner {
    display: flex;
    & > div.container {
        margin-top: 113px;
    }
    .banner-form-wrapper {
        margin-right: auto;
        position: relative;
        padding-top: 21px;
        padding-right: 21px;
    }
    .orange-rounded-background {
        background-image: url("../assets/Shapes/rounded-angle/orange-rounded.svg");
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 42px 42px;
    }
    .blue-circle-background {
        background-image: url("../assets/Shapes/others/blue-circle.svg");
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 42px 42px;
    }
    @media (max-width: 768px) {
        .banner-form-wrapper {
            background: none;
            padding: 0;
            // margin: 36px auto 0;
        }
    }
}

.banner-form {
    position: relative;
    z-index: 99;
    padding: 34px 32px 24px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 20px 40px 0 rgba(41, 41, 43, 0.05), 0 2px 4px 0 rgba(41, 41, 43, 0.05);

    .banner-form-header {
        max-width: 422px;
        margin: 0 auto 24px;
        h4 {
            margin: 0 auto;
            @media (max-width: 768px) {
                font-size: 18px;
            }
        }
        h5 {
            margin: 13px auto 23px;
            font-weight: bold;
            line-height: 1.19;
            text-align: center;
            color: #3a405c;
        }
    }
    p {
        font-family: Roboto-Regular;
        font-size: 11px;
        color: #a4abb8;
        margin: 25px auto 0;
    }
}

.trust-block {
    h3 {
        font-size: 28px;
        text-align: center;
    }
}

.expertise-card {
    margin: 0;
    padding: 0 20px 60px;
    width: 100%;
    border-radius: 13px;
    background: #ffffff;
    img {
        max-width: 175px;
        margin: auto;
    }
    h4 {
        margin: 0 auto 10px;
        font-family: "Gilroy-Bold";
    }
    p {
        font-family: "RobotoMono-Light";
        margin: 0 auto 12px !important;
        font-size: 12px;
        line-height: 1.36;
        text-align: center;
        color: #001a5c;
        @media (max-width: 768px) {
            font-size: 10px;
        }
    }
}

.article-card {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    border-radius: 13px;
    background: #ffffff;
    img {
        border-radius: 13px 13px 0 0;
        margin: 0;
        width: 100%;
        height: 162px;
    }
    .article-card-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 16px 24px;
        h5 {
            margin: 0 auto 8px !important;
            font-family: Gilroy-ExtraBold !important;
            font-size: 19px !important;
            text-align: left !important;
            line-height: 1.05 !important;
            letter-spacing: normal;
            color: #001a5c !important;
        }
        p {
            text-align: left;
            margin-top: 0;
            color: #001b5d !important;
            font-family: RobotoMono-Light !important;
            font-size: 14px;
        }
        .article-card-button {
            margin-top: auto;
            a {
                display: flex;
                align-items: center;
                svg {
                    fill: #6a6f85 !important;
                }
                span {
                    margin-right: 8px;
                    font-family: Gilroy-Light;
                    font-size: 16px;
                    color: #6a6f85;
                }
            }
        }
    }
}

.footer-banner {
    position: relative;
    display: flex;
    align-items: center;
    h1 {
        max-width: 660px;
        font-size: 41px;
        font-family: Gilroy-Bold !important;
        margin: 0 auto 22px;
    }
    @include media-breakpoint-down(sm) {
        height: auto;
        align-items: none;
        img {
            height: 148px !important;
        }
        h1 {
            font-size: 24px;
            margin: 70px auto 24px;
        }
        button {
            margin-bottom: 148px;
        }
    }
    @include media-breakpoint-up(md) {
        height: 300px;
        h1 {
            font-size: 30px;
        }
        img.bottom-right {
            height: 50%;
        }
        img.bottom-left {
            height: 55%;
        }
    }
    @include media-breakpoint-up(lg) {
        height: 380px;
        h1 {
            font-size: 41px;
        }
        img.bottom-right {
            height: 90%;
        }
        img.bottom-left {
            height: 100%;
        }
    }
    @include media-breakpoint-up(xl) {
        h1 {
            font-size: 41px;
        }
        img.bottom-right {
            width: 324px;
            height: auto;
        }
        img.bottom-left {
            height: 100%;
        }
        height: 441px;
    }
}
