@import "./variable";
@mixin font($font-family, $font-file) {
    @font-face {
        font-family: $font-family;
        // src: url($font-file + ".eot");
        // src: url($font-file + ".eot?#iefix") format("embedded-opentype"), url($font-file + ".woff") format("woff"),
        //     url($font-file + ".ttf") format("truetype"), url($font-file + ".svg#" + $font-family) format("svg");
        src: url($font-file + ".ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
}

@include font("Gilroy-Black", "../assets/Typo/gilroy/Gilroy-Black");
@include font("Gilroy-BlackItalic", "../assets/Typo/gilroy/Gilroy-BlackItalic");
@include font("Gilroy-Bold", "../assets/Typo/gilroy/Gilroy-Bold");
@include font("Gilroy-BoldItalic", "../assets/Typo/gilroy/Gilroy-BoldItalic");
@include font("Gilroy-ExtraBold", "../assets/Typo/gilroy/Gilroy-ExtraBold");
@include font("Gilroy-ExtraBoldItalic", "../assets/Typo/gilroy/Gilroy-ExtraBoldItalic");
@include font("Gilroy-Heavy", "../assets/Typo/gilroy/Gilroy-Heavy");
@include font("Gilroy-HeavyItalic", "../assets/Typo/gilroy/Gilroy-HeavyItalic");
@include font("Gilroy-Light", "../assets/Typo/gilroy/Gilroy-Light");
@include font("Gilroy-LightItalic", "../assets/Typo/gilroy/Gilroy-LightItalic");
@include font("Gilroy-Medium", "../assets/Typo/gilroy/Gilroy-Medium");
@include font("Gilroy-MediumItalic", "../assets/Typo/gilroy/Gilroy-MediumItalic");
@include font("Gilroy-Regular", "../assets/Typo/gilroy/Gilroy-Regular");
@include font("Gilroy-RegularItalic", "../assets/Typo/gilroy/Gilroy-RegularItalic");
@include font("Gilroy-SemiBold", "../assets/Typo/gilroy/Gilroy-SemiBold");
@include font("Gilroy-SemiBoldItalic", "../assets/Typo/gilroy/Gilroy-SemiBoldItalic");
@include font("Gilroy-Thin", "../assets/Typo/gilroy/Gilroy-Thin");
@include font("Gilroy-ThinItalic", "../assets/Typo/gilroy/Gilroy-ThinItalic");
@include font("Gilroy-UltraLight", "../assets/Typo/gilroy/Gilroy-UltraLight");
@include font("Gilroy-UltraLightItalic", "../assets/Typo/gilroy/Gilroy-UltraLightItalic");
@include font("Gilroy-UltraLightItalic", "../assets/Typo/gilroy/Gilroy-UltraLightItalic");

@include font("RobotoMono-Bold", "../assets/Typo/Roboto_Mono/static/RobotoMono-Bold");
@include font("RobotoMono-BoldItalic", "../assets/Typo/Roboto_Mono/static/RobotoMono-BoldItalic");
@include font("RobotoMono-ExtraLight", "../assets/Typo/Roboto_Mono/static/RobotoMono-ExtraLight");
@include font("RobotoMono-ExtraLightItalic", "../assets/Typo/Roboto_Mono/static/RobotoMono-ExtraLightItalic");
@include font("RobotoMono-Italic", "../assets/Typo/Roboto_Mono/static/RobotoMono-Italic");
@include font("RobotoMono-Light", "../assets/Typo/Roboto_Mono/static/RobotoMono-Light");
@include font("RobotoMono-LightItalic", "../assets/Typo/Roboto_Mono/static/RobotoMono-LightItalic");
@include font("RobotoMono-Medium", "../assets/Typo/Roboto_Mono/static/RobotoMono-Medium");
@include font("RobotoMono-MediumItalic", "../assets/Typo/Roboto_Mono/static/RobotoMono-MediumItalic");
@include font("RobotoMono-Regular", "../assets/Typo/Roboto_Mono/static/RobotoMono-Regular");
@include font("RobotoMono-SemiBold", "../assets/Typo/Roboto_Mono/static/RobotoMono-SemiBold");
@include font("RobotoMono-SemiBoldItalic", "../assets/Typo/Roboto_Mono/static/RobotoMono-SemiBoldItalic");
@include font("RobotoMono-Thin", "../assets/Typo/Roboto_Mono/static/RobotoMono-Thin");
@include font("RobotoMono-ThinItalic", "../assets/Typo/Roboto_Mono/static/RobotoMono-ThinItalic");

body {
    font-family: "Gilroy-Medium";
    font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Gilroy-Bold";
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

.heading-lg {
    font-size: 64px;
    font-family: "Gilroy-Bold";
}

.heading-sm {
    font-size: 12px;
    font-family: "Gilroy-Bold";
}

.heading-xs {
    font-size: 10px;
    font-family: "Gilroy-Bold";
}

.heading-xxs {
    font-size: 9px;
    font-family: "Gilroy-Bold";
}

p {
    font-size: 16px;
    font-family: "RobotoMono-Medium";
}

.text-sm {
    font-size: 14px;
    font-family: "RobotoMono-Medium";
}

.text-xs {
    font-size: 10px;
    font-family: "RobotoMono-Medium";
}

a {
    font-family: "Gilroy-SemiBold";
    font-weight: normal;
}

button {
    font-size: 1rem;
    font-family: "Gilroy-Bold"!important;
    // font-weight: bold;
}

.text-blue {
    color: $color-blue !important;
}

.text-green {
    color: $color-green !important;
}

.text-orange {
    color: $color-orange !important;
}

.text-gray {
    color: $color-gray !important;
}
