$color-darkblue: #001a5c;
$color-blue: #001f5f;
$color-lightblue: #2196f3;

$color-green: #00d2b5;
$color-darkgreen: #00aea4;

$color-orange: #ff5e4d;
$color-darkorange: #FF3900;

$color-gray: #6A6F85;
$color-lightgray: #A4ABB8;
