$color-blue: #001b5d;
$color-lightblue: #008991;
$color-green: #00D2B5;
$color-darkgreen: #00aea4;

$color-orange: #ff5c4d;
$color-lightpink: #fff3f2;
$color-lightgray: #ebeef3;
$color-gray: gray;

// #fff3f2  purple
