@import "../styles/variables.scss";

.shop_banner{
  position: relative;
  .right_top_image{
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
    width: 298px;
  }
  .left_top_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
  }
  h1{
    text-align: center;
    font-family: "Gilroy";
    font-weight: 800;
    color: $color-blue;
    margin-top: 105px;
    margin-bottom: 0;
  }
  p{
    text-align: center;
    color: $color-blue;
    margin-top: 24px;
  }
}