@import "./variables";

.contact_banner{
  position: relative;
  background: rgba(0, 26, 92, 0.08);
  min-height: 706px;
  .banner0image{
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 149px;
    transform: rotateY(180deg);
    margin-left: -25px;
  }
  .banner1image{
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: calc(50% - 30px);
    width: 219px;
  }
  .banner2image{
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -144px;
    width: 567px;
    transform: rotateY(180deg);
  }
  .container {
    .row {
      .title-area{
        max-width: 269px;
        margin-top: 142px;
        h1{
          font-family: "Gilroy";
          font-weight: 800;
          color: $color-blue;
          font-size: 55px;
          line-height: 55px;
        }
      }
      .right-blue-bar-area{
        margin-top: 23px;
        margin-bottom: 28px;
        margin-left: -52px;
        .right-blue-bar{
          width: 32px;
          height: 7px;
          background: $color-blue;
        }
      }
      .description {
        max-width: 476px;
        p {
          color: $color-blue;
          font-size: 16px;
          font-family: 'Gilroy';
          font-weight: 600;
          margin-bottom: 22px;
        }
      }
      .btn{
        margin-top: 3px;
        background: $color-red;
      }
    }
  }
}

.spacer-177{
  height: 177px;
}

.contact_brands{
  .title_box{
    h4{
      font-family: "Gilroy";
      font-weight:800;
    }
  }
  .justify-space-between{
    .col-lg-2{
      text-align: center;
      margin-top: 10px;
      height: 100px;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}

.resource{
  .btn{
    background: $color-red;
  }
  .text-red{
    color: $color-red;
  }
}

@media(max-width: 768px){
  .contact_banner{
    .banner-logo{
      display: none;
    }
    .banner-logo-mobile{
      display: inline;
    }
    .banner0image{
      display: none
    }
    .banner1image{
      position: absolute;
      z-index: 0;
      bottom: 0;
      right: calc(50% - 30px);
      display: none;
    }
    .banner2image{
      width: 333px;
      bottom: 0;
      right: -14px;
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
    padding-top: 36px;
    .banner-logo{
      height: 37px!important;
    }
    .container{
      .row{
        margin-top: 48px;
        .media{
          img {
            width: 37px;
            margin-top: -10px;
            margin-right: 18px;
          }
          .media-body{
            .image_title {
              font-size: 24px!important;
              line-height: 18px!important;
              display: inline-block;
              margin-right: 10px;
            }
          }
        }
        .description {
          margin-top: 24px;
          margin-bottom: -70px;
          padding-right: 5px;
          padding-left: 5px;
          p {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
          }
          h5 {
            font-size: 20px;
            font-family: "Gilroy";
            font-weight: 500;
          }
        }
      }
    }
  }

  .contact_brands{
    .container{
      margin-top: 0!important;
      padding: 40px!important;
      .title_box{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        h4{
          font-size: 24px;
          line-height: 1.1;
        }
      }
      .justify-space-between{
        align-items: flex-start;
        margin-top: 30px!important;
        .col-xl-6{
          width: 50%;
          text-align: center;
          margin-top: 0;
          #trust1{
            width: 104px;
          }
          #trust2{
            width: 56px;
            margin-top: 10px;
          }
          #trust3{
            width: 58px;
            margin-top: -10px;
          }
          #trust4{
            width: 106px;
            margin-top: 8px;
          }
          #trust5{
            width: 112px;
            margin-left: -148px;
          }
        }
      }
    }
    .green-right-top-semi-circle{
      margin-right: -24px;
    }
  }
}