.expertise_banner {
  padding-top: 78px;
  .container {
    .row {
      margin-top: 85px;
      .image_title {
        font-size: 64px;
        color: white;
        img {
          width: 76px;
          margin-top: -10px;
          margin-right: 24px;
        }
      }
      .description {
        max-width: 476px;
        margin-top: 37px;
        p {
          color: white;
          font-size: 16px;
          font-family: 'RobotoMono';
        }
        h5 {
          color: white;
          font-size: 22px;
          margin-bottom: 115px;
        }
      }
    }
  }
}
