@import "../styles/variables";
.expertise_banner {
  padding-top: 78px;
  .container {
    .row {
      margin-top: 85px;
      .image_title {
        font-size: 64px;
        font-family: "Gilroy";
        font-weight: 800;
        color: white;
        img {
          width: 76px;
          margin-top: -10px;
          margin-right: 24px;
        }
      }
      .description {
        max-width: 476px;
        margin-top: 37px;
        p {
          color: white;
          font-size: 16px;
          font-family: 'RobotoMono';
        }
        h5 {
          color: white;
          font-size: 22px;
          margin-bottom: 115px;
          font-family: "Gilroy";
          font-weight: 500;
        }
      }
    }
  }
}

.spacer{
  height: 205px;
}

.our_expertise{
  h1{
    font-size: 54px;
    margin-top: 69px;
    font-family: "Gilroy";
    font-weight: 800;
  }
  .card-content{
    margin-top: 77px;
  }
}

.our_approach{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 67px;
  .title-area{
    max-width: 576px;
    margin-left: auto;
    margin-right: auto;
    h1{
      font-size: 54px;
      margin-top: 69px;
      font-family: "Gilroy";
      font-weight: 800;
    }
    .subtitle{
      margin-top: 29px;
      font-family: "RobotoMono";
      font-weight: 500;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
  }
  .cart-area{
    margin-top: 51px;
    .text-card{
      text-align: left;
      min-height: 189px;
      border-radius: 8px;
      box-shadow: 0 20px 40px 0 rgba(41, 41, 43, 0.05), 0 2px 4px 0 rgba(41, 41, 43, 0.05);
      background-color: #ffffff;
      padding: 27px 32px;
      border: none;
      .media{
        h1{
          width: 64px;
          height: 46px;
          font-family: "RobotoMono";
          font-size: 35px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
        }
        .media-body{
          h5{
            font-family: "Gilroy";
            font-size: 26px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.23;
            letter-spacing: normal;
          }
        }
      }
      p{
        color: $color-blue;
        font-size: 14px;
      }
      .left-green-squre{
        position: absolute;
        left: -23px;
        top: -25px;
        height: 120px;
        width: 120px;
        z-index: -1;
      }
    }
  }
  .circle{
    width: 75px;
    height: 75px;
    border-radius: 100px;
  }
  .right-bottom-image{
    position: absolute;
    bottom: -95px;
    right: -25px;
    z-index: -1;
    width: 156px;
  }
}

.our_technique{
  h1{
    margin-top: 68px;
    font-family: "Gilroy";
    font-weight: 800;
    font-size:  54px;
  }
  .brand-area{
    margin-top: 102px;
    .logo-item{
      height: 150px;
      justify-content: center;
      display: flex;
      align-items: center;
    }
  }
  margin-bottom: 68px;
}

.resource{
  position: relative;
  .title-area{
    max-width: 574px;
    margin-left: auto;
    margin-right: auto;
    h1{
      margin-top: 68px;
      font-family: "Gilroy";
      font-weight: 800;
      font-size:  54px;
    }
  }
  .card-area{
    position: relative;
    margin-top: 68px;
    .bottom-left-img{
      position: absolute;
      bottom: -19px;
      left: -6px;
    }
    .top-right-img{
      position: absolute;
      right: -14px;
      top: -19px;
    }
  }
  .action-button-area{
    text-align: center;
    .btn{
      margin-top: 59px;
      padding: 5px 45px;
      margin-bottom: 75px;
    }
  }

  .green-left-bottom-semi-circle{
    z-index: 10 !important;
    bottom: -60px;
    left: 0;
    width: 60px;
    height: 120px;
    border-radius: 0 60px 60px 0;
    background-color: $color-green;
    position: absolute;
  }
}

.other-expertise{
  .title-area{
    max-width: 574px;
    margin-left: auto;
    margin-right: auto;
    h1{
      margin-top: 68px;
      font-family: "Gilroy";
      font-weight: 800;
      font-size:  54px;
    }
  }
  .card-area{
    position: relative;
    margin-top: 81px;
    justify-content: center;
    display: flex;
    .col-lg-3{
      text-align: center;
    }
    .top-right-img{
      position: absolute;
      top: -28px;
      right: 149px;
      width: 60px;
      height: 60px;
      z-index: -1;
      border-radius: 0 60px 0 0;
      background-color: #ff5c4d;
    }
    .bottom-right-img{
      position: absolute;
      bottom: -43px;
      right: 129px;
    }
    .top-left-img{
      position: absolute;
      top: -19px;
      left: 133px;
    }
  }
  margin-bottom: 162px;
}

.cloud_contact_us{
  position: relative;
  .left_bg_image{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }
  .right_bg_image{
    position: absolute;
    height: 90%;
    bottom: 0;
    right: 0;
  }
  .row{
    min-height: 441px;
    .col-lg-12{
      justify-content: center;
      align-items: center;
      display: flex;
      h2{
        font-size: 52px;
        font-family: "Gilroy";
        margin-bottom: 28px;
        font-weight: 600;
      }
      .btn{
        padding: 5px 59px;
      }
    }
  }
}

