@import "../styles/variables";
.expertise_banner {
  padding-top: 78px;
  .container {
    .row {
      margin-top: 85px;
      .image_title {
        font-size: 64px;
        font-family: "Gilroy";
        font-weight: 800;
        color: white;
        img {
          width: 76px;
          margin-top: -10px;
          margin-right: 24px;
        }
      }
      .description {
        max-width: 476px;
        margin-top: 37px;
        p {
          color: white;
          font-size: 16px;
          font-family: 'RobotoMono';
        }
        h5 {
          color: white;
          font-size: 22px;
          margin-bottom: 115px;
          font-family: "Gilroy";
          font-weight: 500;
        }
      }
    }
  }
}
.spacer{
  height: 205px;
}
.our_expertise{
  h1{
    font-size: 54px;
    margin-top: 69px;
    font-family: "Gilroy";
    font-weight: 800;
  }
  .card-content{
    margin-top: 77px;
  }
}
.our_approach{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  .title-area{
    max-width: 576px;
    margin-left: auto;
    margin-right: auto;
    h1{
      font-size: 54px;
      margin-top: 69px;
      font-family: "Gilroy";
      font-weight: 800;
    }
    .subtitle{
      margin-top: 29px;
      font-family: "RobotoMono";
      font-weight: 500;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
  }
  .cart-area{
    margin-top: 51px;
    .text-card{
      text-align: left;
      min-height: 189px;
      border-radius: 8px;
      box-shadow: 0 20px 40px 0 rgba(41, 41, 43, 0.05), 0 2px 4px 0 rgba(41, 41, 43, 0.05);
      background-color: #ffffff;
      padding: 27px 32px;
      border: none;
      .media{
        h1{
          width: 64px;
          height: 46px;
          font-family: "RobotoMono";
          font-size: 35px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
        }
        .media-body{
          h5{
            font-family: "Gilroy";
            font-size: 26px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.23;
            letter-spacing: normal;
          }
        }
      }
      p{
        color: $color-blue;
        font-size: 14px;
      }
      .left-green-squre{
        position: absolute;
        left: -23px;
        top: -25px;
        height: 120px;
        width: 120px;
        z-index: -1;
      }
    }
  }
  .circle{
    width: 75px;
    height: 75px;
    border-radius: 100px;
  }
  .right-bottom-image{
    position: absolute;
    bottom: -95px;
    right: -25px;
    z-index: -1;
    width: 156px;
  }
}