@import "./variables.scss";

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy"), local("Gilroy"),
    url("../assets/Typo/gilroy/Gilroy-Regular.ttf") format("truetype"),
    url("../assets/Typo/gilroy/Gilroy-RegularItalic.ttf") format("truetype"),
    url("../assets/Typo/gilroy/Gilroy-RegularItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy Black";
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy"), local("Gilroy"),
    url("../assets/Typo/gilroy/Gilroy-Black.ttf") format("truetype"),
    url("../assets/Typo/gilroy/Gilroy-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: bold;
  src: local("Gilroy"), local("Gilroy"),
    url("../assets/Typo/gilroy/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: bold;
  src: local("Gilroy"), local("Gilroy"),
  url("../assets/Typo/Roboto_Mono/RobotoMono-VariableFont_wght.ttf") format("truetype");
}


@import "initial/functions";
@import "initial/variables";
@import "initial/mixins";
@import "initial/root";
@import "initial/reboot";
@import "initial/type";
@import "initial/images";
@import "initial/code";
@import "initial/grid";
@import "initial/tables";
@import "initial/forms";
@import "initial/buttons";
@import "initial/transitions";
@import "initial/dropdown";
@import "initial/button-group";
@import "initial/input-group";
@import "initial/custom-forms";
@import "initial/nav";
@import "initial/navbar";
@import "initial/card";
@import "initial/breadcrumb";
@import "initial/pagination";
@import "initial/badge";
@import "initial/jumbotron";
@import "initial/alert";
@import "initial/progress";
@import "initial/media";
@import "initial/list-group";
@import "initial/close";
@import "initial/modal";
@import "initial/tooltip";
@import "initial/popover";
@import "initial/carousel";
@import "initial/utilities";
@import "initial/print";

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Gilroy Bold";
  font-weight: 500;
}

.container {
  position: relative;
  // max-width: 1176px !important;
  max-width: 1300px !important;
}

.text-blue {
  color: $color-blue !important;
}

.text-green {
  color: $color-green !important;
}

.text-orange {
  color: $color-orange !important;
}

.bg-blue {
  background-color: $color-blue !important;
}

.bg-lightblue {
  background-color: $color-lightblue !important;
}

.bg-green {
  background-color: $color-green !important;
}

.bg-darkgreen {
  background-color: $color-darkgreen !important;
}

.bg-orange {
  background-color: $color-orange !important;
}

.bg-lightgray {
  background-color: $color-lightgray !important;
}

.bold-font{
  font-family: 'Gilroy Bold';
}

.roboto-font{
  font-family: RobotoMono;
}