@import "./variables.scss";

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy"), local("Gilroy"),
    url("../assets/Typo/gilroy/Gilroy-Regular.ttf") format("truetype"),
    url("../assets/Typo/gilroy/Gilroy-RegularItalic.ttf") format("truetype"),
    url("../assets/Typo/gilroy/Gilroy-RegularItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy Black";
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy"), local("Gilroy"),
    url("../assets/Typo/gilroy/Gilroy-Black.ttf") format("truetype"),
    url("../assets/Typo/gilroy/Gilroy-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: bold;
  src: local("Gilroy"), local("Gilroy"),
    url("../assets/Typo/gilroy/Gilroy-Bold.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Gilroy Bold";
  font-weight: 500;
}

.container {
  position: relative;
  // max-width: 1176px !important;
  max-width: 1300px !important;
}

.text-blue {
  color: $color-blue !important;
}

.text-green {
  color: $color-green !important;
}

.text-orange {
  color: $color-orange !important;
}

.bg-blue {
  background-color: $color-blue !important;
}

.bg-lightblue {
  background-color: $color-lightblue !important;
}

.bg-green {
  background-color: $color-green !important;
}

.bg-darkgreen {
  background-color: $color-darkgreen !important;
}

.bg-orange {
  background-color: $color-orange !important;
}

.bg-lightgray {
  background-color: $color-lightgray !important;
}

//link
a{
  //
}
a:focus {
  outline: none;
}

//Button
.btn {
  background: none;
  border: none;
  padding: 8px 30px;
  border-radius: 4px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn:hover {
  box-shadow: 1px 1px 4px grey;
}

.btn-primary {
  border-radius: 6px;
  color: white;
  background-color: #ff5e4d;
}
