@import "./variables.scss";

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy"), local("Gilroy"),
    url("../assets/Typo/gilroy/Gilroy-Regular.ttf") format("truetype"),
    url("../assets/Typo/gilroy/Gilroy-RegularItalic.ttf") format("truetype"),
    url("../assets/Typo/gilroy/Gilroy-RegularItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy Black";
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy"), local("Gilroy"),
    url("../assets/Typo/gilroy/Gilroy-Black.ttf") format("truetype"),
    url("../assets/Typo/gilroy/Gilroy-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: bold;
  src: local("Gilroy"), local("Gilroy"),
    url("../assets/Typo/gilroy/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: bold;
  src: local("Gilroy"), local("Gilroy"),
  url("../assets/Typo/Roboto_Mono/static/RobotoMono-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoRegular';
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy"), local("Gilroy"),
  url("../assets/Typo/Roboto_Mono/static/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoLight';
  font-style: normal;
  font-weight: 100;
  src: local("Gilroy"), local("Gilroy"),
  url("../assets/Typo/Roboto_Mono/static/RobotoMono-Light.ttf") format("truetype");
}

@import "initial/functions";
@import "initial/variables";
@import "initial/mixins";
@import "initial/root";
@import "initial/reboot";
@import "initial/type";
@import "initial/images";
@import "initial/code";
@import "initial/grid";
@import "initial/tables";
@import "initial/forms";
@import "initial/buttons";
@import "initial/transitions";
@import "initial/dropdown";
@import "initial/button-group";
@import "initial/input-group";
@import "initial/custom-forms";
@import "initial/nav";
@import "initial/navbar";
@import "initial/card";
@import "initial/breadcrumb";
@import "initial/pagination";
@import "initial/badge";
@import "initial/jumbotron";
@import "initial/alert";
@import "initial/progress";
@import "initial/media";
@import "initial/list-group";
@import "initial/close";
@import "initial/modal";
@import "initial/tooltip";
@import "initial/popover";
@import "initial/carousel";
@import "initial/utilities";
@import "initial/print";

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: "Gilroy Bold";
  font-weight: 500;
}

p{
  font-family: 'RobotoMono';
}

.container {
  position: relative;
  // max-width: 1176px !important;
  max-width: 1300px !important;
}

.text-blue {
  color: $color-blue !important;
}

.text-green {
  color: $color-green !important;
}

.text-orange {
  color: $color-orange !important;
}

.bg-blue {
  background-color: $color-blue !important;
}

.bg-lightblue {
  background-color: $color-lightblue !important;
}

.bg-green {
  background-color: $color-green !important;
}

.bg-darkgreen {
  background-color: $color-darkgreen !important;
}

.bg-orange {
  background-color: $color-orange !important;
}

.bg-lightgray {
  background-color: $color-lightgray !important;
}

.bold-font{
  font-family: 'Gilroy Bold'!important;
}
.roboto-font{
  font-family: 'RobotoMono'!important;
}
.roboto-regular{
  font-family: 'RobotoRegular'!important;
}
.roboto-light{
  font-family: 'RobotoLiht'!important;
}


img{
  max-width: 100%;
}

h2{
  font-size: 36px;
}

h4{
  font-size: 28px;
}

h3{
  font-size: 36px;
}

h5{
  font-size: 12px;
}

h6{
  font-size: 9px;
}

p{
  font-size: 16px;
}

button:focus{
  outline: none;
}

.justify-space-between{
  justify-content: space-around;
}

.align-center{
  align-items: center;
}

.pick-item{
  div{
    width: 32px;
    height: 7px;
  }
}

.btn-custom-info{
  background: none;
  border: 2px solid $gray-600;
  color: $blue;
}

.btn-custom-info:hover, .btn-custom-info:focus{
  background: $gray-600;
  color: white;

}

.image-box{
  width: 100%;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

  }
}


.image-box:before{
  content: "";
  display: block;
  padding-top: 100%;
  z-index: -10;/* ratio of 1:1*/
}

.image-box-circle{
  img{
    border-radius: 50%;
  }
}

.bottom-right-radius{
  img{
    border-bottom-right-radius: 100px;
  }
}

.bottom-left-radius{
  img{
    border-bottom-left-radius: 100px;
  }
}

.top-right-radius{
  img{
    border-top-right-radius: 100px;
  }
}

.top-left-radius{
  img{
    border-top-left-radius: 100px;
  }
}
#root{
  overflow: hidden;
}

.left-top-bg{
  position: absolute;
  z-index: -1;
}
