@import "variable";
@import "global";
@import "typo";

.home-banner {
    margin: 0;
    min-height: 706px;
    background-image: url("../assets/Shapes/others/rounded-circle@3x.png"),
        url("../assets/Shapes/others/bottom-right-triangle@3x.png"),
        url("../assets/Shapes/others/bottom-left-triangle@3x.png");
    background-repeat: no-repeat;
    background-position: left top, bottom right, bottom left;
    background-size: 120px 120px, auto calc(100vh - 60px), 120px 120px;

    @media only screen and (max-width: 768px) {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        background-size: 37px 37px, 136px 136px, 56px 56px;
    }
    @media only screen and (min-width: 768px) {
        height: calc(100vh - 60px);
        background-size: 120px 120px, auto calc(100vw - 200px), 120px 120px;
    }
    @media only screen and (min-width: 992px) {
        background-size: 120px 120px, auto calc(100vh - 60px), 120px 120px;
    }
    h1 {
        margin-bottom: 19px;
        white-space: pre-line;
    }
    p.banner-text {
        margin: 12px 0 47px;
    }
    .banner-image {
        @media only screen and (max-width: 768px) {
            display: block;
            max-width: 70%;
            margin: 21px auto 30px;
        }
        @media only screen and (min-width: 768px) {
            // max-width: 587px;
            width: 100%;
            margin-right: 0;
        }
    }
}

.home-expertise-block {
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    h1 {
        margin-bottom: 21px;
        @media (max-width: 768px) {
            font-size: 36px;
        }
        @media (min-width: 768px) {
            font-size: 48px;
        }
    }
    p {
        max-width: 574px;
        margin-bottom: 95px;
        @media (max-width: 768px) {
            margin-bottom: 0;
        }
    }
    .container {
        padding-bottom: 104px;
        .features-block {
            position: relative;
            padding: 23px 21px 24px;
            .home-expertise-card {
                margin: 0;
                padding: 0 20px 60px;
                width: 100%;
                border-radius: 13px;
                background: #ffffff;
                img {
                    max-width: 175px;
                    margin: auto;
                    @media (max-width: 1200px) {
                        max-width: 140px;
                    }
                }
                h4 {
                    margin: 0 auto 8px;
                    font-family: "Gilroy-Bold";
                }
                p {
                    // font-family: "RobotoMono-Light";
                    font-family: "Gilroy-Medium";
                    margin: 0;
                    font-size: 14px;
                    line-height: 1.36;
                    text-align: center;
                    color: #001a5c;
                    @media (max-width: 768px) {
                        font-size: 10px;
                    }
                }
            }
            .top-left {
                z-index: -1;
                width: 111px;
                height: 135px;
            }
            .bottom-right {
                z-index: -1;
                width: 111px;
                height: 135px;
            }
            .top-right {
                z-index: -1;
                width: 42px;
                height: 42px;
            }
            @media (max-width: 768px) {
                .top-left,
                .bottom-right,
                .top-right {
                    display: none;
                }
            }
        }
    }
}

.home-trust-block {
    h3 {
        font-size: 28px;
        margin: 76px auto 32px;
    }
    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.efisens-talk {
    margin: 74px auto 100px;
}
.home-efisens-talk-block {
    display: flex;
    min-height: 394px;
    .efisens-talk-form-container {
        position: relative;
        padding: 24px;
        .left-top {
            position: absolute;
            left: 0;
            top: 0;
            width: 54px;
            height: 54px;
            @media (max-width: 768px) {
                width: 29px;
                height: 29px;
            }
        }
        .right-bottom {
            position: absolute;
            right: -14px;
            bottom: -14px;
            width: 54px;
            height: 54px;
            @media (max-width: 768px) {
                display: none;
            }
        }
        .efisens-talk-form {
            position: relative;
            z-index: 99 !important;
            padding: 24px 99px 40px;
            border-radius: 0.5rem;
            background-color: white;
            box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1) !important;
            h2 {
                font-family: Gilroy-Bold;
                margin-bottom: 7px;
            }
            p {
                margin-top: 7px;
            }
            @media (max-width: 768px) {
                padding: 33px 28px 20px;

                h2 {
                    margin-top: 33px;
                }
                p {
                    margin-bottom: 20px;
                }
            }
        }
        @media (max-width: 768px) {
            margin: 70px auto !important;
            padding: 12px;
        }
    }
}
.home-articles-block {
    display: flex;
    flex-direction: column;
    position: relative;
    .articles-container {
        position: relative;
        margin-top: 30px;
        padding: 24px 16px;
        background-image: url("../assets/Shapes/drawings/green-mini.svg"),
            url("../assets/Shapes/drawings/orange-mini.svg");
        background-repeat: no-repeat, no-repeat;
        // background-position: bottom right, top left;
        background-position: calc(100% - 0px) calc(100% - 27px), -1px 13px;

        background-size: 99px 123px, 99px 123px;
        @media (min-width: 768px) {
            margin-top: 0 !important;
            background-position: calc(100% - 0px) -7px, 0 calc(100% - 26px);
            // background-position: top right, bottom left;
        }
    }
    h1 {
        margin: 108px auto 37px;
        @media (max-width: 768px) {
            margin: 60px auto 16px;
            font-size: 36px;
        }
        @media (min-width: 768px) {
            font-size: 48px;
        }
    }
    p {
        max-width: 824px;
        margin-bottom: 30px;
        @media (max-width: 768px) {
            font-size: 17px;
        }
    }
}

.home-efisens-shop-block {
    display: flex;
    margin-bottom: 100px;
    .container {
        background: url("../assets/Images/group-2@3x.png");
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 1124px !important;
        margin: auto;
        @media (max-width: 768px) {
            background: none;
        }
        .main-img {
            max-width: 719px;
            margin-bottom: 98px;
            @media (max-width: 768px) {
                display: none;
            }
        }
        .shop-background {
            position: relative;
            .fg-img {
                position: absolute;
                max-width: 719px;
                width: 90%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            @media (min-width: 769px) {
                display: none;
            }
        }
    }
    h1 {
        margin-top: 83px;
        margin-bottom: 47px;
        @media (max-width: 768px) {
            font-size: 36px;
            margin-bottom: 16px;
        }
        @media (min-width: 768px) {
            font-size: 48px;
        }
    }
    p {
        margin-bottom: 52px;
    }
    .btn {
        margin-bottom: 75px;
    }
}

.home-talents-block {
    display: flex;
    position: relative;
    margin-top: 129px !important;
    margin-bottom: 129px !important;
}
