@import "./variables.scss";

.jumbotron{
  background-color: white;
  background-image: url("../assets/home/images/4_2.png"), url("../assets/home/images/1_3.png"), url("../assets/home/images/1_2.png");
  background-position: right bottom, left bottom, left top;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: contain, auto, auto;
  .center-align{
    height: calc(85vh);
    align-items: center;
    display: flex;
    .banner-title{
      color: $color-blue;
      font-size: 64px;
      font-family: "Gilroy";
      font-weight: 800;
      letter-spacing: 0;
      line-height: 80px;
      max-width: 414px;
    }
    p{
      color: $color-blue;
      font-family: 'Gilroy';
      font-size: 18px;
      font-weight: 800;
      letter-spacing: 0;
      line-height: 21px;
      margin-bottom: 47px;
      max-width: 546px;
    }
    .btn{
      height: 34px;
      width: 176px;
      border-radius: 6px;
      background-color: #FF5E4D;
      border: none;
      line-height: 1;
    }

  }
}

.jobs-block {
  // height: 100vh;
  position: relative;
  padding-bottom: 102px;
  .subtitle-container{
    justify-content: center;
    display: flex;
    p{
      font-size: 18px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      font-family: "Gilroy";
      font-weight: 800;
      max-width: 574px;
    }
  }

  .title{
    font-size: 54px;
    margin-top: 79px;
    font-family: "Gilroy";
    font-weight: 800!important;
    margin-bottom: 18px;
  }

  .blue-left-bottom-semi-circle {
    z-index: 10 !important;
    bottom: -60px;
    left: 0;
    width: 60px;
    height: 120px;
    border-radius: 0 60px 60px 0;
    background-color: $color-blue;
  }

  .features-block {
    position: relative;
    padding: 2rem 1rem;
    background-image: url("../assets/home/images/vert-mini.png"), url("../assets/home/images/bleu-mini.png");
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% - 0px) calc(100% - 7px), 0 13px;
    .orange-top-right-semi-circle {
      top: 1px;
      right: -15px;
      width: 60px;
      height: 60px;
      z-index: -1;
      border-radius: 0 60px 0 0;
      background-color: $color-orange;
    }
    .row{
      justify-content: center;
      .col-lg-3{
        max-width: 325px;
      }
    }

    .gradient-box {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      min-height: 412px;
      position: relative;
      box-sizing: border-box;
      color: #001b5d;
      background: white;
      background-clip: padding-box;
      border-radius: 1em;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05) !important;
      transition: margin-top ease 0.8s, box-shadow ease 0.8s;
      .card-body{
        z-index: 2;
        background: white!important;
        border-radius: 0.8rem;
        margin-bottom: 40px;
        h4{
          font-family: "Gilroy";
          font-weight: 800!important;
          font-size: 24px;
        }
        p{
          font-family: "Gilroy";
          font-weight: 500;
          font-size: 14px;
        }
      }
    }

    .gradient-box:hover {
      margin-top: -20px;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
      cursor: pointer;
    }

    .gradient-box:hover:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      margin: -3px;

      /* !importanté */
      border-radius: inherit;
      /* !importanté */
      background: -webkit-gradient(to top right, #00d5b4, #ff5c4d, #001b5d);
      background: linear-gradient(to top right, #00d5b4, #ff5c4d, #001b5d);
    }

    .gradient-box p {
      font-size: 0.8rem;
    }

    .gradient-box img {
      max-width: 80%;
      margin: 0 auto;
    }

    .btn {
      position: absolute;
      left: 50%;
      bottom: 24px;
      transform: translate(-50%);
      width: 80%;
      max-width: 180px;
      color: #001b5d;
      border: 2px solid lightgray;
      background: white;
    }

    .btn:hover {
      color: white;
      border: 2px solid #ff5c4d;
      background-color: #ff5c4d;
    }
  }
}

.trust_section{
  .title_box{
    h4{
      font-family: "Gilroy";
      font-weight:800;
    }
  }
  .justify-space-between{
    .col-lg-2{
      text-align: center;
      margin-top: 10px;
      height: 100px;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}

.talk-section {
  h3{
    font-family: "Gilroy";
    font-weight: 800;
  }
  p{
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 18px;
  }
  h5{
    font-family: "Gilroy";
    font-weight: 800;
  }
  h6{
    font-family: "RobotoMono";
    font-weight: 400;
  }
  padding: 100px 0;
  .bg-blue-half-rotate{
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .card-body{
    border: none;
    border-radius: 8px;
    box-shadow: 0 20px 40px 0 rgba(41, 41, 43, 0.05), 0 2px 4px 0 rgba(41, 41, 43, 0.05);
    background-color: #ffffff;
    position: relative;

    .news-letter{
      .news-letter-input{
        height: 50px;
        border: 2px solid #ebebeb;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
      .news-letter-submit{
        justify-content: center;
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
        width: 50px;
        background: $color-green;
        border: none;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        svg{
          fill: white;
        }
      }
    }
    .image-square{
      width: 54px;
      height: 54px;
      position: absolute;
      z-index: -1;
      left: -26px;
      top: -26px;
    }
    .image-triangle{
      width: 54px;
      height: 54px;
      position: absolute;
      z-index: -1;
      right: -40px;
      bottom: -40px;
    }
  }
}

.experience-block {
  // height: 100vh;
  position: relative;
  .subtitle-container{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    justify-content: center;
    display: flex;
    p{
      font-family: "Gilroy";
      font-weight: 800!important;
      font-size: 18px;
      max-width: 824px;
    }
  }

  .title{
    font-size: 54px;
    margin-top: 79px;
    margin-bottom: 16px;
    font-family: "Gilroy";
    font-weight: 800!important;
  }

  .blue-left-bottom-semi-circle {
    z-index: 10 !important;
    bottom: -60px;
    left: 0;
    width: 60px;
    height: 120px;
    border-radius: 0 60px 60px 0;
    background-color: $color-blue;
  }

  .features-block {
    position: relative;
    padding: 2rem 1rem;
    background-image: url("../assets/home/images/vert-mini.png"), url("../assets/home/images/orange-mini.png");
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% - 0px) -7px, 0 calc(100% - 26px);
    .row{
      justify-content: center;
      .col-lg-3{
        max-width: 325px;
      }
    }
    .orange-top-right-semi-circle {
      top: 1px;
      right: -15px;
      width: 60px;
      height: 60px;
      z-index: -1;
      border-radius: 0 60px 0 0;
      background-color: $color-orange;
    }
    .gradient-box {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      min-height: 412px;
      position: relative;
      box-sizing: border-box;
      color: #001b5d;
      background: white;
      background-clip: padding-box;
      border-radius: 0.8em;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05) !important;
      transition: margin-top ease 0.8s, box-shadow ease 0.8s;
      z-index: 2;

      .image-box{
        height: 162px;
        overflow: hidden;
        border-top-left-radius: 0.8em;
        border-top-right-radius: 0.8em;
        img {
          margin: 0 auto;
          min-height: 100%;
          min-width: 100%;
        }
      }

      .card-body{
        padding: 0;
        background: white!important;
        border-radius: 0.7rem;
        z-index: 1;
        .article-content{
          padding: 20px;
          text-align: left;
          h5{
            font-size: 16px;
            font-family: 'Gilroy';
            font-weight: 800!important;
          }
          p{
            font-family: "RobotoMono";
            font-size: 14px;
            color: #001A5C;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 16px;
            .badge{
              padding: 8px;
            }
            .time{
              font-family: 'RobotoMono';
              font-weight: 500;
              font-size: 12px;
              color: #6a6f85;
            }
            .badge-danger{
              color: $color-red;
              background-color: rgba(255, 94, 77, 0.1);
            }
            .badge-success{
              color: $color-green;
              background-color: rgba(0, 210, 181, 0.1);
            }
            .badge-primary{
              color: $color-blue;
              background-color: rgba(0, 26, 92, 0.1);
            }
          }
          a{
            font-family: "Gilroy";
            font-weight: 400;
            font-size: 16px;
            position: absolute;
            bottom: 24px;
            left: 16px;
            color: #6a6f85;
            svg{
              transform: translateY(5px);
            }
          }
        }
      }
    }
    .gradient-box:hover {
      //border: solid 1px transparent;
      margin-top: -20px;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
      cursor: pointer;
    }
    .gradient-box:hover:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      margin: -3px;

      /* !importanté */
      border-radius: inherit;
      /* !importanté */
      background: -webkit-gradient(to top right, #00d5b4, #ff5c4d, #001b5d);
      background: linear-gradient(to top right, #00d5b4, #ff5c4d, #001b5d);
    }
  }
}

#click_shop{
  h1{
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 54px;
  }
  p{
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 18px;
  }
  position: relative;
  .top-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2;
  }
}

#ready_for_future{
  h4{
    font-family: "Gilroy";
    font-weight: 500;
  }
  h2{
    font-family: "Gilroy";
    font-weight: 800;
    max-width: 377px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 51px;
  }
  p{
    font-family: "Gilroy";
    font-weight: 500;
    font-size: 16px;
    max-width: 377px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
  }
  .btn{
    margin-top: 105px;
    font-weight: 600;
    padding: 6px 30px;
    border-radius: 6px;
  }
  .card{
    display: block;
    padding: 80px 99px;
    border: none;
    -webkit-box-align: center;
    min-height: 412px;
    position: relative;
    box-sizing: border-box;
    color: #001b5d;
    background: white;
    background-clip: padding-box;
    border-radius: 0.8em;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05) !important;
    transition: margin-top ease 0.8s, box-shadow ease 0.8s;
  }
}

.articles-block {
  position: relative;
  .container {
    padding-top: 100px;
  }

  .top-triangle {
    width: 0;
    height: 0;
    border-top: 300px solid $color-lightgray;
    border-right: 105vw solid transparent;
  }
  .bottom-left-triangle {
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 100px solid $color-green;
    border-right: 100px solid transparent;
  }
  .top-left-semi-circle {
    top: 300px;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 100px 0 0 0;
    background-color: $color-orange;
  }

  .newsletter-form-container {
    position: relative;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem;
    .left-top-square {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-orange;
      width: 3rem;
      height: 3rem;
    }
    .right-buttom-triangle {
      position: absolute;
      bottom: -0.5rem;
      right: -0.5rem;
      width: 0;
      height: 0;
      border-top: 3rem solid $color-green;
      border-right: 3rem solid transparent;
    }

    .newsletter-form {
      position: relative;
      z-index: 99 !important;
      height: 100px;
      border-radius: 0.5rem;
      background-color: white;
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1) !important;
    }
  }

  .articles-main-block {
    .orange-illustration {
      bottom: 0;
      left: 0;
      width: 100px;
      height: 120px;
    }
    .green-illustration {
      top: 0;
      right: 0;
      width: 100px;
      height: 120px;
    }
    .gradient-box {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      min-height: 420px;
      position: relative;
      box-sizing: border-box;
      color: #001b5d;
      background: white;
      background-clip: padding-box;
      border-radius: 1em;
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1) !important;
      transition: margin-top ease 0.8s, box-shadow ease 0.8s;
    }
    .gradient-box:hover {
      border: solid 3px transparent;
      margin-top: -20px;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    }

    .gradient-box:hover:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -3px;

      /* !importanté */
      border-radius: inherit;
      /* !importanté */
      background: -webkit-gradient(to top, #00d5b4, #ff5c4d, #001b5d);
      background: linear-gradient(to top, #00d5b4, #ff5c4d, #001b5d);
    }

    .gradient-box {
      p {
        font-size: 0.8rem;
      }
      img {
        border-radius: 1em 1em 0 0;
        height: 200px;
      }
    }
  }
}

.home-information-block {
  height: 90vh;
  position: relative;
  .buttom-left-triangle {
    bottom: 0 !important;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 150px solid $color-lightgray;
    border-right: 150px solid transparent;
  }
  .buttom-right-triangle {
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 90vh solid $color-lightpink;
    border-left: 90vh solid transparent;
    right: 0;
    // calc(100vh-60px)
  }
}

.talents-block {
  position: relative;
  .top-left-circle {
    position: absolute;
    z-index: -1;
    background-color: $color-orange;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .talents-form {
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1) !important;
  }
}

.title-bar {
  h2 {
    color: #001a5c;
    font-family: Gilroy;
    font-size: 54px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 67px;
    text-align: center;
  }
  p {
    color: #001a5c;
    font-family: "Roboto Mono";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
  }
}

.green-right-top-semi-circle {
  right: 0;
  width: 60px;
  height: 120px;
  border-radius: 60px 0 0 60px;
  background-color: $color-green;
}

.green-left-bottom-semi-circle{
  z-index: 10 !important;
  bottom: -60px;
  left: 0;
  width: 60px;
  height: 120px;
  border-radius: 0 60px 60px 0;
  background-color: $color-green;
}

.red-right-top-semi-circle {
  right: 0;
  width: 60px;
  height: 120px;
  border-radius: 60px 0 0 60px;
  background-color: $color-red;
}

.vertical-gradient{

  background: -webkit-linear-gradient( #00d2b5, #ff5e4d, #001a5c );
  background: -o-linear-gradient( #00d2b5, #ff5e4d, #001a5c ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #00d2b5, #ff5e4d, #001a5c ); /* For Firefox 3.6 to 15 */
  background: linear-gradient( to right, #00d2b5, #ff5e4d, #001a5c );/* Standard syntax */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#partner{
  position: relative;
  .right_img{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
  }

  .left_img{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 95%;
  }
}

/*============
  responsive
=============*/
//banner
@media (max-width: 768px){
  .jumbotron{
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 136px, 56px, 37px;
    .center-align{
      text-align: center;
      height: 300px;
      .banner-title{
        font-size: 36px;
        line-height: 1.1;
      }
      .pick-item{
        div{
          margin-right: auto!important;
          margin-left: auto!important;
          margin-top: 10px;
          width: 22px;
          height: 5px;
        }
      }
      .banner-description{
        line-height: 1.3;
        font-size: 16px;
        margin-bottom: 18px;
      }
      .btn{

      }
    }
  }
  .jobs-block{

    .title{
      font-size: 36px;
      margin-top: 63px!important;
    }
    .subtitle-container{
      p{
        font-size: 14px;
      }
    }
    .features-block{
      background: none;
      margin-top: 0!important;
      .gradient-box{
        transform: translateY(0);
        transition-duration: 300ms;
      }
      .gradient-box:hover {
        margin-top: 0;
        transform: translateY(-3px);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
        cursor: pointer;
        transition-duration: 300ms;
        z-index: 5;
      }
      .orange-top-right-semi-circle{
        display: none;
      }
    }
    .blue-left-bottom-semi-circle{
      z-index: -1 !important;
      bottom: -41px;
      left: -14px;
      width: 41px;
      height: 82px;
      border-radius: 0 100px 100px 0;
    }
  }
  .trust_section{
    .container{
      margin-top: 0!important;
      padding: 40px!important;
      .title_box{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        h4{
          font-size: 24px;
          line-height: 1.1;
        }
      }
      .justify-space-between{
        align-items: flex-start;
        margin-top: 30px!important;
        .col-xl-6{
          width: 50%;
          text-align: center;
          margin-top: 0;
          #trust1{
            width: 104px;
          }
          #trust2{
            width: 56px;
            margin-top: 10px;
          }
          #trust3{
            width: 58px;
            margin-top: -10px;
          }
          #trust4{
            width: 106px;
            margin-top: 8px;
          }
          #trust5{
            width: 112px;
            margin-left: -148px;
          }
        }
      }
    }
    .green-right-top-semi-circle{
      margin-right: -24px;
    }
  }
  .talk-section{
    padding: 79px 0 40px 0;
    .bg-blue-half-rotate{
      height: 394px;
    }
    .red-right-top-semi-circle{
      right: 0;
      width: 35px;
      height: 70px;
      margin-right: -5px;
      border-radius: 60px 0 0 60px;
    }
    .container{
      .card-body{
        .image-triangle{
          display: none;
        }
        .image-square{
          width: 29px;
          height: 29px;
          left: -11px;
          top: -11px;
        }
        .pick-item{
          div{
            margin-left: -14px!important;
            width: 14px;
            height: 3px;
          }
        }
        p{
          font-size: 12px;
          margin-top: 10px;
        }
        .col-lg-4{
          margin-top: 24px;
        }
      }
    }
  }
  .experience-block{
    .container{
      h1{
        font-size: 36px;
      }
      p{
        font-size: 14px;
      }
      .features-block{
        margin-top: 20px!important;
        background-position: calc(100% - 0px) calc(100% - 27px), -1px 13px ;
        .gradient-box:hover {
          margin-top: 0;
          transform: translateY(-3px);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
          cursor: pointer;
          transition-duration: 300ms;
          z-index: 5;
        }
      }
      .action_content{
        margin-top: 0!important;
      }
    }
    .green-left-bottom-semi-circle{
      z-index: 10 !important;
      bottom: 0;
      left: -5px;
      width: 35px;
      height: 70px;
      border-radius: 0 60px 60px 0;
      background-color: #00d2b5;
    }
  }
  #click_shop{
    .container{
      .text-center{
        h1{
          font-size: 36px;
        }
        p{
          font-size: 14px;
        }
      }
      .bottom-layer{
        height: 600px;
        .col-lg-12{
          margin-top: 190px;
        }
      }
    }
  }
  #ready_for_future{
    padding-bottom: 29px!important;
    padding-top: 0!important;
    .card-body{
      padding: 15px;
      .left-top-bg{
        width: 30px;
        top: -12px!important;
        left: auto!important;
        right: -12px;
      }
      h4{
        font-size: 18px!important;
        margin-top : 16px!important;
      }
      h2{
        font-size: 25px!important;
        margin-top: 41px!important;
       }
      p{
        margin-top: 36px!important;
        margin-bottom: 0;
      }
      button{
        padding: 2px 15px;
        border-radius: 5px;
        margin-top: 68px!important;
        margin-bottom: 10px;
      }
    }
    .row{
      padding: 5px;
      .col-6{
        padding: 5px!important;
        .left-top-bg{
          left: 5px!important;
          top: 5px!important;
        }
      }
    }
  }
  #partner{
    margin-top: 30px;
    .center-content{
      align-items: flex-start;
      height: 330px!important;
      h2{
        font-size: 23px!important;
      }
    }
    .right_img{
      height: 148px;
    }
    .left_img{
      height: 148px;
    }
  }
}
