@import "./variables.scss";

.navbar {
  a {
    color: $color-blue !important;
    font-weight: 900;
  }
  .navbar-brand {
    img {
      max-width: 50px;
    }
  }
}

.partener {
  height: 500px;
  .buttom-right-triangle {
    width: 0;
    height: 0;
    border-top: 500px solid $color-darkgreen;
    border-left: 500px solid transparent;
    right: 0;
  }
  .quarter-circle-top-right {
    width: 400px;
    height: 400px;
    border-radius: 0 400px 0 0;
    left: 0;
    bottom: 0;
  }
}

.home-information-block {
  height: 90vh;
  position: relative;
  .buttom-left-triangle {
    bottom: 0 !important;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 150px solid $color-lightgray;
    border-right: 150px solid transparent;
  }
  .buttom-right-triangle {
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 90vh solid $color-lightpink;
    border-left: 90vh solid transparent;
    right: 0;
    // calc(100vh-60px)
  }
}

.jobs-block {
  // height: 100vh;
  position: relative;

  .subtitle-container{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }

  .title{
    font-size: 54px;
    margin-top: 79px;
  }

  .blue-left-bottom-semi-circle {
    z-index: 10 !important;
    bottom: -60px;
    left: 0;
    width: 60px;
    height: 120px;
    border-radius: 0 60px 60px 0;
    background-color: $color-blue;
  }

  .features-block {
    position: relative;
    padding: 2rem 1rem;
    background-image: url("../assets/home/images/vert-mini.png"), url("../assets/home/images/bleu-mini.png");
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% - 0px) calc(100% - 7px), 0 13px;
    .orange-top-right-semi-circle {
      top: 1px;
      right: -15px;
      width: 60px;
      height: 60px;
      z-index: -1;
      border-radius: 0 60px 0 0;
      background-color: $color-orange;
    }

    .gradient-box {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      min-height: 380px;
      position: relative;
      box-sizing: border-box;
      color: #001b5d;
      background: white;
      background-clip: padding-box;
      border-radius: 1em;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05) !important;
      transition: margin-top ease 0.8s, box-shadow ease 0.8s;
    }

    .gradient-box:hover {
      margin-top: -20px;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
      cursor: pointer;
    }

    .gradient-box:hover:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -3px;

      /* !importanté */
      border-radius: inherit;
      /* !importanté */
      background: -webkit-gradient(to top right, #00d5b4, #ff5c4d, #001b5d);
      background: linear-gradient(to top right, #00d5b4, #ff5c4d, #001b5d);
    }

    .gradient-box p {
      font-size: 0.8rem;
    }

    .gradient-box img {
      max-width: 80%;
      margin: 0 auto;
    }

    .btn {
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translate(-50%);
      width: 80%;
      max-width: 180px;
      color: #001b5d;
      border: 2px solid lightgray;
    }

    .btn:hover {
      color: white;
      border: 2px solid #ff5c4d;
      background-color: #ff5c4d;
    }
  }
}

.articles-block {
  position: relative;
  .container {
    padding-top: 100px;
  }

  .top-triangle {
    width: 0;
    height: 0;
    border-top: 300px solid $color-lightgray;
    border-right: 105vw solid transparent;
  }
  .bottom-left-triangle {
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 100px solid $color-green;
    border-right: 100px solid transparent;
  }
  .top-left-semi-circle {
    top: 300px;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 100px 0 0 0;
    background-color: $color-orange;
  }

  .newsletter-form-container {
    position: relative;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem;
    .left-top-square {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-orange;
      width: 3rem;
      height: 3rem;
    }
    .right-buttom-triangle {
      position: absolute;
      bottom: -0.5rem;
      right: -0.5rem;
      width: 0;
      height: 0;
      border-top: 3rem solid $color-green;
      border-right: 3rem solid transparent;
    }

    .newsletter-form {
      position: relative;
      z-index: 99 !important;
      height: 100px;
      border-radius: 0.5rem;
      background-color: white;
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1) !important;
    }
  }

  .articles-main-block {
    .orange-illustration {
      bottom: 0;
      left: 0;
      width: 100px;
      height: 120px;
    }
    .green-illustration {
      top: 0;
      right: 0;
      width: 100px;
      height: 120px;
    }
    .gradient-box {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      min-height: 420px;
      position: relative;
      box-sizing: border-box;
      color: #001b5d;
      background: white;
      background-clip: padding-box;
      border-radius: 1em;
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1) !important;
      transition: margin-top ease 0.8s, box-shadow ease 0.8s;
    }
    .gradient-box:hover {
      border: solid 3px transparent;
      margin-top: -20px;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    }

    .gradient-box:hover:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -3px;

      /* !importanté */
      border-radius: inherit;
      /* !importanté */
      background: -webkit-gradient(to top, #00d5b4, #ff5c4d, #001b5d);
      background: linear-gradient(to top, #00d5b4, #ff5c4d, #001b5d);
    }

    .gradient-box {
      p {
        font-size: 0.8rem;
      }
      img {
        border-radius: 1em 1em 0 0;
        height: 200px;
      }
    }
  }
}

.talents-block {
  position: relative;
  .top-left-circle {
    position: absolute;
    z-index: -1;
    background-color: $color-orange;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .talents-form {
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1) !important;
  }
}

.title-bar {
  h2 {
    color: #001a5c;
    font-family: Gilroy;
    font-size: 54px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 67px;
    text-align: center;
  }
  p {
    color: #001a5c;
    font-family: "Roboto Mono";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
  }
}

.jumbotron{
  background: none;
  background-image: url("../assets/home/images/4_2.png"), url("../assets/home/images/1_3.png"), url("../assets/home/images/1_2.png");
  background-position: right bottom, left bottom, left top;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: contain, auto, auto;
  .center-align{
    height: calc(85vh);
    align-items: center;
    display: flex;
    .banner-title{
      color: $color-blue;
      font-size: 64px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 79px;
    }
    p{
      height: 63px;
      color: $color-blue;
      font-family: 'RobotoMono';
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 21px;
    }
    .btn{
      height: 34px;
      width: 176px;
      border-radius: 6px;
      background-color: #FF5E4D;
      border: none;
      line-height: 1;
    }

  }
}

.experience-block {
  // height: 100vh;
  position: relative;

  .subtitle-container{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }

  .title{
    font-size: 54px;
    margin-top: 79px;
  }

  .blue-left-bottom-semi-circle {
    z-index: 10 !important;
    bottom: -60px;
    left: 0;
    width: 60px;
    height: 120px;
    border-radius: 0 60px 60px 0;
    background-color: $color-blue;
  }

  .features-block {
    position: relative;
    padding: 2rem 1rem;
    background-image: url("../assets/home/images/vert-mini.png"), url("../assets/home/images/orange-mini.png");
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% - 0px) -7px, 0 calc(100% - 26px);
    .orange-top-right-semi-circle {
      top: 1px;
      right: -15px;
      width: 60px;
      height: 60px;
      z-index: -1;
      border-radius: 0 60px 0 0;
      background-color: $color-orange;
    }
    .gradient-box {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      min-height: 412px;
      position: relative;
      box-sizing: border-box;
      color: #001b5d;
      background: white;
      background-clip: padding-box;
      border-radius: 0.8em;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05) !important;
      transition: margin-top ease 0.8s, box-shadow ease 0.8s;

      .image-box{
        height: 162px;
        overflow: hidden;
        border-top-left-radius: 0.9em;
        border-top-right-radius: 0.9em;
        img {
          margin: 0 auto;
          min-height: 100%;
          min-width: 100%;
        }
      }

      .card-body{
        padding: 0;
        .article-content{
          padding: 20px;
          text-align: left;
          h5{
            font-size: 16px;
            font-family: 'Gilroy Bold';
          }
          p{
            font-size: 14px;
            .badge{
              padding: 8px;
            }
            .time{
              font-family: 'RobotoRegular';
              font-size: 12px;
              color: #6a6f85;
            }
            .badge-danger{
              color: $color-red;
              background-color: rgba(255, 94, 77, 0.1);
            }
            .badge-success{
              color: $color-green;
              background-color: rgba(0, 210, 181, 0.1);
            }
            .badge-primary{
              color: $color-blue;
              background-color: rgba(0, 26, 92, 0.1);
            }
          }
          a{
            font-size: 16px;
            position: absolute;
            bottom: 24px;
            left: 16px;
            color: #6a6f85;
            svg{
              transform: translateY(5px);
            }
          }
        }
      }
    }
    .gradient-box:hover {
      //border: solid 1px transparent;
      margin-top: -20px;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
      cursor: pointer;
    }
    .gradient-box:hover:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -3px;

      /* !importanté */
      border-radius: inherit;
      /* !importanté */
      background: -webkit-gradient(to top right, #00d5b4, #ff5c4d, #001b5d);
      background: linear-gradient(to top right, #00d5b4, #ff5c4d, #001b5d);
    }
  }
}


.green-right-top-semi-circle {
  right: 0;
  width: 60px;
  height: 120px;
  border-radius: 60px 0 0 60px;
  background-color: $color-green;
}

.green-left-bottom-semi-circle{
  z-index: 10 !important;
  bottom: -60px;
  left: 0;
  width: 60px;
  height: 120px;
  border-radius: 0 60px 60px 0;
  background-color: $color-green;
}

.red-right-top-semi-circle {
  right: 0;
  width: 60px;
  height: 120px;
  border-radius: 60px 0 0 60px;
  background-color: $color-red;
}

.talk-section {
  padding: 100px 0;
  .bg-blue-half-rotate{
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .card-body{
    border: none;
    border-radius: 8px;
    box-shadow: 0 20px 40px 0 rgba(41, 41, 43, 0.05), 0 2px 4px 0 rgba(41, 41, 43, 0.05);
    background-color: #ffffff;
    position: relative;
    .news-letter{
      .news-letter-input{
        height: 50px;
        border: 2px solid #ebebeb;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
      .news-letter-submit{
        justify-content: center;
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
        width: 50px;
        background: $color-green;
        border: none;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        svg{
          fill: white;
        }
      }
    }
    .image-square{
      width: 54px;
      height: 54px;
      position: absolute;
      z-index: -1;
      left: -26px;
      top: -26px;
    }
    .image-triangle{
      width: 54px;
      height: 54px;
      position: absolute;
      z-index: -1;
      right: -40px;
      bottom: -40px;
    }
  }
}


#click_shop{
  position: relative;
  .top-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2;
  }
}

#ready_for_future{
  .card{
    display: block;
    padding: 99px;
    border: none;
    -webkit-box-align: center;
    min-height: 412px;
    position: relative;
    box-sizing: border-box;
    color: #001b5d;
    background: white;
    background-clip: padding-box;
    border-radius: 0.8em;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05) !important;
    transition: margin-top ease 0.8s, box-shadow ease 0.8s;
  }
}

.vertical-gradient{

  background: -webkit-linear-gradient( #00d2b5, #ff5e4d, #001a5c );
  background: -o-linear-gradient( #00d2b5, #ff5e4d, #001a5c ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #00d2b5, #ff5e4d, #001a5c ); /* For Firefox 3.6 to 15 */
  background: linear-gradient( to right, #00d2b5, #ff5e4d, #001a5c );/* Standard syntax */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



#partner{
  position: relative;
  .right_img{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
  }

  .left_img{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 95%;
  }
}