@import '../styles/variables';

.partner_banner{
  position: relative;
  background: $color-blue;
  .title-area{
    margin-right: auto;
    margin-left: auto;
    margin-top: 89px;
    text-align: center;
    h1{
      color: white;
      font-family: "Gilroy";
      font-weight: 600;
      font-size: 36px;
    }
  }
  .content-area{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 89px;
    p{
      color: white;
      font-family: "RobotoMono";
      font-weight: 400;
      font-size: 16px;
    }
  }
  .right_bottom_image{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateY(180deg);
    width: 288px;
  }
  .left_bottom_image{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 288px;
  }
}

.in_news{
  .title-area{
    margin-top: 107px;
    h1{
      font-family: "Gilroy";
      font-weight: 800;
      font-size: 28px;
      color: $color-blue;
      margin-bottom: 0;
    }
  }
  .card-area{
    margin-top: 52px;
    .wide-card{
      transform: translateX(-12px);
      .row{
        justify-content: center;
        .image-part{
          .image-case{
            height: 304px;
            overflow: hidden;
            justify-content: center;
            display: flex;
            align-items: center;
            img{
              width: 100%;
              box-shadow: 0 2px 4px 0 rgba(41,41,43,0.05), 0 20px 40px 0 rgba(41,41,43,0.05);
              min-height: 100%;
              min-width: 100%;
            }
          }
        }
        .text-part{
          position: relative;
          height: 304px;
          padding: 45px 39px;
          box-shadow: 0 2px 4px 0 rgba(41,41,43,0.05), 0 20px 40px 0 rgba(41,41,43,0.05);
          border-radius: 8px;
          justify-content: center;
          display: flex;
          align-items: center;
          background: white;
          div{
            p{
              color: $color-blue;
            }
          }
          .right-bottom-image{
            position: absolute;
            transform: rotateY(180deg);
            bottom: -24px;
            right: -24px;
            z-index: -1;
          }
        }
      }
    }
  }
}

.our_partners{
  margin-top: 110px;
  h5{
    color: $color-blue;
    font-size: 18px;
    letter-spacing: 2.08px;
    line-height: 22px;
    margin-bottom: 0;
  }
  h1{
    font-family: "Gilroy";
    font-size: 54px;
    font-weight: 800;
    color: $color-blue;
    margin-top: 12px;
    margin-bottom: 0;
  }
}