@import '../styles/variables';

.partner_banner{
  position: relative;
  background: $color-blue;
  .title-area{
    margin-right: auto;
    margin-left: auto;
    margin-top: 89px;
    text-align: center;
    h1{
      color: white;
      font-family: "Gilroy";
      font-weight: 600;
      font-size: 36px;
    }
  }
  .content-area{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 89px;
    p{
      color: white;
      font-family: "RobotoMono";
      font-weight: 400;
      font-size: 16px;
    }
  }
  .right_bottom_image{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateY(180deg);
    width: 288px;
  }
  .left_bottom_image{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 288px;
  }
}

.in_news{
  .title-area{
    margin-top: 107px;
    h1{
      font-family: "Gilroy";
      font-weight: 800;
      font-size: 28px;
      color: $color-blue;
    }
  }
  .card-area{

  }
}