$color-blue: #001A5C;
$color-lightblue: #008991;
$color-green: #00d2b5;
$color-red: #ff5e4d;
$color-darkgreen: #00aea4;

$color-orange: #ff5c4d;
$color-lightpink: #fff3f2;
$color-lightgray: #ebeef3;

// #fff3f2  purple
