a {
    text-decoration: none !important;
}

.logo {
    margin: 0;
    img {
        width: 100%;
        width: 109px;
        height: 26px;
    }
}

.white-logo {
    display: flex;
    margin: auto 0;
    img {
        width: 118px;
        height: 28px;
        margin: 0;
        margin-right: 18px;
    }
    border-right: 1px solid #ffffff;
}

.navbar-sticky-class {
    position: fixed;
    top: 0 !important;
    opacity: 1 !important;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 1px solid rgb(238, 238, 238);
    .navbar-brand {
        height: 58px;
        margin-right: 8px;
        display: flex;
        align-items: center;
        a {
            height: 26px;
            display: block;
        }
    }
    .navbar-nav,
    .navbar-nav {
        display: flex !important;
        flex-basis: auto;
        flex-grow: 1;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        .navbar-nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            list-style: none;
            .nav-item {
                .nav-link {
                    position: relative;
                    display: block;
                    padding: 19px 12px;
                    color: #001a5c;
                    font-family: "Gilroy-SemiBold";
                    font-size: 16px;
                    font-weight: 600;
                    transition: all 2s;

                    // stroke effect
                    // &:after {
                    //     position: absolute;
                    //     bottom: 0;
                    //     left: 0;
                    //     right: 0;
                    //     margin: auto;
                    //     width: 0%;
                    //     content: ".";
                    //     color: transparent;
                    //     background: $color-darkblue;
                    //     transition: all 0.5s;
                    //     height: 3px;
                    // }
                    // &:hover:after {
                    //     width: 100%;
                    // }
                    span {
                        top: 37px;
                        position: absolute;
                        font-family: Gilroy-SemiBold;
                        font-size: 10px;
                        color: #6a6f85;
                    }
                }
                svg {
                    transform: translateY(4px);
                }
            }
            .nav-dropdown {
                position: relative;
                .dropdown-content {
                    position: absolute;
                    top: 100%;
                    width: 536px;
                    border: none;
                    border-radius: 8px;
                    border: solid 1px #f2f2f2;
                    box-shadow: 0 20px 40px 0 rgba(41, 41, 43, 0.05), 0 2px 4px 0 rgba(41, 41, 43, 0.05);
                    background-color: #ffffff;
                    padding: 25px 25px 5px 25px;
                    opacity: 0;
                    z-index: -1;
                    display: none;
                    transition-duration: 200ms;
                    .tail {
                        width: 20px;
                        height: 20px;
                        border: solid 1px #f2f2f2;
                        border-right: none;
                        border-bottom: none;
                        background: white;
                        position: absolute;
                        left: 120px;
                        top: -10px;
                        transform: rotateZ(45deg);
                    }
                    a {
                        .dropdown-item {
                            margin-bottom: 25px;
                            img {
                                width: 35px;
                                background: #e9ecef;
                                padding: 3px;
                                border-radius: 20px;
                                margin-right: 11px !important;
                            }
                            h5 {
                                margin-bottom: 4px;
                                font-size: 14px;
                                margin-bottom: 5px;
                                font-family: "Gilroy-Medium";
                                font-weight: 800;
                                color: #001a5c;
                            }
                            p {
                                margin: 0 auto 4px;
                                font-size: 10px;
                                line-height: 12px;
                                letter-spacing: -0.03rem;
                                font-family: "Gilroy-SemiBold";
                                font-weight: 400;
                                color: #001a5c;
                            }
                        }
                    }
                }
                &:hover {
                    .dropdown-content {
                        opacity: 1;
                        display: block;
                        z-index: 2010;
                        transition-duration: 200ms;
                    }
                    .dropdown-content:hover {
                        .dropdown-item {
                            opacity: 0.7;
                            transition: all ease-in-out 200ms;
                        }
                        .dropdown-item:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1300px) {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    padding-left: 4px !important;
                    padding-right: 4px !important;
                }
            }
        }
    }
}

// Page overlay
.bg-hovered {
    z-index: 2000 !important;
    // display: block !important;
    opacity: 0.5 !important;
    background: #ffffff !important;
    transition: opacity 2000ms ease-in-out;
}

.overlay-background {
    z-index: -100;
    position: fixed;
    overflow: hidden;
    // display: none;
    outline: 0;
    opacity: 0;

    background: transparent;
    transition: opacity 300ms ease-in-out;
    /* equal to the navbar height */
    top: 58px;
    bottom: 0;
    left: 0;
    right: 0;
}

// .navbar:hover .overlay-background {
//     display: block;
//     opacity: 0.5;
//     background: #ffffff;
//     transition: all 2s ease-in-out;
// }
// .overlay-background {
//     z-index: 2000;
//     position: fixed;
//     display: none;
//     overflow: hidden;
//     outline: 0;
//     opacity: 0;
//     background: transparent;
//     /* equal to the navbar height */
//     top: 58px;
//     bottom: 0;
//     left: 0;
//     right: 0;
// }

.MuiIconButton-colorPrimary {
    color: $color-darkblue !important;
}
.MuiPaper-elevation4 {
    display: none !important;
}
//header responsive
@media (max-width: 1024px) {
    // .navbar,
    .top-navbar,
    .expertise-sticky-top-navbar {
        display: none !important;
    }
    .MuiPaper-elevation4 {
        display: block !important;
    }
    a {
        font-family: "Gilroy-SemiBold";
        span {
            font-family: Gilroy-SemiBold;
            font-size: 10px;
            color: #6a6f85;
        }
    }

    .btn-responsive-block {
        display: block;
        width: 80%;
        margin-left: 10%;
        height: 49px;
        margin-top: 20px;
    }
    .MuiAccordion-root {
        border: none !important;
        box-shadow: none !important;
    }
    .MuiAccordion-root:before {
        display: none !important;
    }
    .MuiTypography-body1 {
        font-family: "Gilroy-SemiBold" !important;
        font-weight: 600 !important;
        svg {
            margin-bottom: -2px;
            margin-left: 5px;
            width: 12px;
            height: 12px;
        }
    }
    .MuiIconButton-edgeEnd {
        //margin-right: 182px!important;
        svg {
            path {
                fill: $color-darkblue;
            }
        }
    }
    .MuiCollapse-wrapper {
        .MuiAccordionDetails-root {
            padding: 0 !important;
            .dropdown-content {
                width: 100%;
                border: none;
                border-radius: 8px;
                background-color: #ffffff;
                margin: 0;
                padding: 0;
                padding-left: 20px;
                .col-lg-6 {
                    padding-right: 5px;
                    padding-left: 5px;
                }
                a {
                    .dropdown-item {
                        margin-bottom: 25px;
                        img {
                            width: 35px;
                            background: #e9ecef;
                            padding: 3px;
                            border-radius: 20px;
                            margin-right: 11px !important;
                        }
                        h5 {
                            margin-bottom: 4px;
                            font-size: 14px;
                            margin-bottom: 5px;
                            font-family: "Gilroy-SemiBold";
                            font-weight: 800;
                            color: #001a5c;
                        }
                        p {
                            margin-bottom: 4px;
                            font-size: 10px;
                            line-height: 12px;
                            letter-spacing: -0.03rem;
                            font-family: "RobotoMono-Medium";
                            font-weight: 400;
                            color: #001a5c;
                        }
                    }
                }
                .tail {
                    width: 20px;
                    height: 20px;
                    background: white;
                    position: absolute;
                    left: 123px;
                    top: -3px;
                    transform: rotateZ(45deg);
                }
            }

            .media {
                padding-left: 20px !important;
                padding-right: 20px !important;
                img {
                    width: 29px;
                    margin-right: 10px !important;
                }
                max-width: 239px;
                .media-body {
                    width: 50px;
                    //padding-right: 120px;
                    h5 {
                        font-size: 14px;
                        margin-bottom: 1px;
                        font-family: "Gilroy-SemiBold";
                    }
                    p {
                        font-size: 10px;
                        font-family: "Gilroy-SemiBold";
                    }
                }
            }
            a:hover {
                text-decoration: none !important;
            }
        }
        .makeStyles-list-3 {
            padding: 0 !important;
            padding-left: 10px !important;
        }
    }
}

.footer {
    padding-top: 70px;
    p,
    a {
        margin: 0;
        padding: 8px 16px;
        font-size: 14px;
        color: #001a5c;
        font-family: RobotoMono-Regular;
        font-size: 14px;
    }
    h5 {
        margin: 0 auto 0;
        padding: 8px 16px;
        color: #001f5f;
        font-family: Gilroy-SemiBold;
        font-size: 16px;
        line-height: 20px;
    }
    .footer-address {
        padding-left: 0;
        margin-top: 12px;
    }
    .nav-link {
        position: relative;
        display: block;
        padding: 8px 16px;
    }
    .social-icon {
        width: 24px;
        height: 24px;
    }
    .newsletter-container {
        margin-top: 117px;
        margin-bottom: 62px;
        .newsletter-form {
            h6 {
                margin: 0 0 8px;
                max-width: 220px;
                color: #00d2b5;
                text-transform: uppercase;
                font-family: Gilroy-SemiBold;
                font-size: 10px;
                letter-spacing: 1.03px;
                line-height: 22px;
            }
            @media (max-width: 768px) {
                padding-left: 50px;
                padding-right: 50px;
            }
        }
        .newsletter-form-text {
            p {
                margin-top: 24px;
                max-width: 444px;
                color: #a4abb8;
                font-family: RobotoMono-Regular;
                font-size: 9px;
                line-height: 13px;
                @media (max-width: 768px) {
                    text-align: left;
                }
            }
            @media (max-width: 768px) {
                padding-left: 50px;
                padding-right: 50px;
                p {
                    padding: 0;
                }
            }
        }
        img {
            width: 78px;
            height: 26px;
            align-self: flex-end;
            @media (max-width: 768px) {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    @media screen and (max-width: 767px) {
        text-align: center !important;
    }
}

.pagination {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    li {
        display: inline;
    }
    li:first-child > a,
    li:first-child > span {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    li > a,
    .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #6a6f85;
        text-decoration: none;
        background-color: #fff;
    }
    li:last-child > a,
    li:last-child > span {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    cursor: pointer;
}
