@import "../../styles/variables";

.card-case{
  cursor: pointer;
  transition-duration: 1000ms;
  .card{
    border: 3px solid white;
    border-radius: 8px;
    box-shadow: 0 20px 40px 0 rgba(41, 41, 43, 0.05), 0 2px 4px 0 rgba(41, 41, 43, 0.05);
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    padding: 0;
    min-height: 412px;
    .card-image{
      height: 162px;
      overflow: hidden;
      img{
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        min-height: 100%;
        min-width: 100%;
      }
    }
    .article-content{
      padding: 28px 16px;
      text-align: left;
      .tag{
        font-family: "RobotoMono";
        font-weight: 500;
        font-size: 14px;
        text-align: left;
        margin-top: -10px;
        .badge{
          padding: 8px;
        }
        .time{
          font-family: 'RobotoMono';
          font-weight: 500;
          font-size: 12px;
          color: #6a6f85;
        }
        .badge-danger{
          color: $color-red;
          background-color: rgba(255, 94, 77, 0.1);
        }
        .badge-success{
          color: $color-green;
          background-color: rgba(0, 210, 181, 0.1);
        }
        .badge-primary{
          color: $color-blue;
          background-color: rgba(0, 26, 92, 0.1);
        }
      }
      .title{
        font-size: 16px;
        line-height: 19px;
        font-family: "Gilroy";
        font-weight: 800!important;
        color: $color-blue;
      }
      .short-description{
        font-size: 14px;
        line-height: 18px;
        color: $color-blue;
      }
      a{
        font-family: "Gilroy";
        font-weight: 400;
        font-size: 16px;
        position: absolute;
        bottom: 24px;
        left: 16px;
        color: #6a6f85;
        svg{
          transform: translateY(5px);
        }
      }
      a:hover{
        text-decoration: none;
      }
    }
  }
  .card:hover{
    $border: 3px;
    background-clip: padding-box; /* !importanté */
    border: $border solid transparent; /* !importanté */
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -10;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to top right, #00d5b4, #ff5c4d, #001b5d);
    }
  }
}
.card-case:hover{
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  transition-duration: 1000ms;
}

