@import "../../styles/variables";

.card-case{
  transition-duration: 800ms;
  .expertise-card{
    border: 3px solid white;
    height: 397px;
    border-radius: 8px;
    box-shadow: 0 20px 40px 0 rgba(41, 41, 43, 0.05), 0 2px 4px 0 rgba(41, 41, 43, 0.05);
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    img{
      width: 90px;
      margin-left: auto;
      margin-right: auto;
    }
    .expertise-card-title{
      font-family: 'Gilroy';
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $color-blue;
      margin-top: 10px;
      margin-bottom: 0;
    }
    .expertise-card-subtitle{
      font-family: "Gilroy";
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $color-blue;
      margin-top: 19px;
      margin-bottom: 0;
      line-height: 1.1;
    }
    .expertise-card-content{
      margin-top: 30px;
      li{
        font-family: "RobotoMono";
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.83;
        letter-spacing: normal;
        text-align: center;
        color: $color-blue;
      }
    }
  }
  .expertise-card:hover{
    $border: 3px;
    color: #FFF;
    background-clip: padding-box; /* !importanté */
    border: $border solid transparent; /* !importanté */
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -10;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to top right, #00d5b4, #ff5c4d, #001b5d);
    }
  }
}
.card-case:hover{
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  transition-duration: 800ms;
}
