@import "../../styles/variables";

.card-case{
  cursor: pointer;
  transition-duration: 1000ms;
  .icon-button-card-area{
    border: 3px solid white;
    border-radius: 8px;
    box-shadow: 0 20px 40px 0 rgba(41, 41, 43, 0.05), 0 2px 4px 0 rgba(41, 41, 43, 0.05);
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    padding: 0 30px;
    min-height: 386px;
    .icon_button_card_title{
      color: $color-blue;
      font-family: "Gilroy";
      font-weight: 800;
      font-size: 24px;
      margin-top: 10px;
    }
    .icon_button_card_short_description{
      font-size: 10px;
      font-family: "RobotoMono";
      font-weight: 500;
      color: $color-blue;
      margin-top: 4px;
    }
    .action-button-area{
      position: absolute;
      bottom: 15px;
      left: 0;
      width: 100%;
      justify-content: center;
      display: flex;
      .btn-custom{
        border: 2px solid #a5abb7;
        background: white;
        color: $color-blue;
      }
      .btn-custom:hover{
        border: 2px solid $color-red;
        background: $color-red;
        color: white;
      }
    }


  }
  .card:hover{
    $border: 3px;
    background-clip: padding-box; /* !importanté */
    border: $border solid transparent; /* !importanté */
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -10;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to top right, #00d5b4, #ff5c4d, #001b5d);
    }
  }
}
.card-case:hover{
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  transition-duration: 1000ms;
}
